{% doc %}
  Renders article comments form and existing comments.

  @example
  {% render 'article-comments' %}
{% enddoc %}
{%- if blog.comments_enabled? -%}

    {%- comment -%}
        Show comments
    {%- endcomment -%}
    {%- if article.comments_count > 0 -%}
        <h2 class="">{{- 'Comments' | escape -}}</h2>
        {%- paginate article.comments by 5 -%}
            {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                    {{ comment.content }}
                    <small>{{ comment.author }}</small>
                    <time>{{ comment.created_at | time_tag: '%d %B %Y' }}</time>
                </article>
            {%- endfor -%}
            {%- if article.comments_count > 5 -%}
                {%-
                    render 'pagination',
                    paginate: paginate
                -%}
            {%- endif -%}
        {%- endpaginate -%}
    {%- endif -%}

    {%- comment -%}
        Comments form
    {%- endcomment -%}
    {%- form 'new_comment', article -%}
        {%- liquid
            assign post_message = 'template.article.success'
            if blog.moderated? and comment.status == 'unapproved'
                assign post_message = 'template.article.success_moderated'
            endif
        -%}
        {%- if form.errors -%}
            <ul>
                {%- for field in form.errors -%}
                    <li>
                        {%- if form.errors.translated_fields[field] contains 'author' -%}
                            {{ 'template.article.name' | t }}
                        {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                            {{ 'template.article.message' | t }}
                        {%- else -%}
                            {{ form.errors.translated_fields[field] }}
                        {%- endif -%}
                        {{ form.errors.messages[field] }}
                    </li>
                {%- endfor -%}
            </ul>
        {%- elsif form.posted_successfully? -%}
            {{ post_message | t }}
        {%- endif -%}

        <div class="form-field">
            <label class="form-label" for="CommentForm-author">
                {{ 'template.article.name' | t }} <span aria-hidden="true">*</span>
            </label>
            <input
                type="text"
                name="comment[author]"
                id="CommentForm-author"
                class="form-input"
                autocomplete="name"
                value="{{ form.author }}"
                aria-required="true"
                {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                {% endif %}
                placeholder="{{ 'template.article.name' | t }}"
            >
            {%- if form.errors contains 'author' -%}
                {{ 'template.article.name' | t }}
                {{ form.errors.messages['author'] }}
            {%- endif -%}

        </div>
        <div class="form-field">
            <label class="form-label" for="CommentForm-email">
                {{ 'template.article.email' | t }} <span aria-hidden="true">*</span>
            </label>
            <input
                type="email"
                name="comment[email]"
                id="CommentForm-email"
                autocomplete="email"
                class="form-input"
                value="{{ form.email }}"
                autocorrect="off"
                autocapitalize="off"
                aria-required="true"
                {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="CommentForm-email-error"
                {% endif %}
                placeholder="{{ 'template.article.email' | t }}"
            >
            {%- if form.errors contains 'email' -%}
                {{ 'template.article.email' | t }}
                {{ form.errors.messages['email'] }}
            {%- endif -%}
        </div>
        <div class="form-field">
            <label class="form-label" for="CommentForm-body">
                {{ 'template.article.message' | t }} <span aria-hidden="true">*</span>
            </label>
            <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="form-field"
                aria-required="true"
                {% if form.errors contains 'body' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'template.article.message' | t }}"
            >{{ form.body }}</textarea>
            </div>
            {%- if form.errors contains 'body' -%}
                {{ 'template.article.message' | t }}
                {{ form.errors.messages['body'] }}
            {%- endif -%}
        </div>
        {%- if blog.moderated? -%}
            <p class="">{{ 'template.article.moderated' | t }}</p>
        {%- endif -%}
        <button type="submit" class="c-btn primary">
            {{ 'template.article.post' | t }}
        </button>
    {%- endform -%}
{%- endif -%}