{% doc %}
  Displays article with image, title, excerpt, and category label.

  @param {article} _article - The article object to display
  @param {number} _forloop_index - The index of the article in the loop

  @example
  {% render 'article-block', _article: article, _forloop_index: forloop.index %}
{% enddoc %}
{% liquid
  assign title = _article.title
  assign image_alt = image.alt | default: title
  assign content = _article.content | truncatewords: 24
  assign excerpt = _article.excerpt | truncatewords: 24

  assign craft_area = _article.metafields.custom.craft_area.value

  assign url = _article.url | escape
  assign date = _article.published_at | date: '%d %B %Y'

  assign image = _article.image
%}

<article class="snippet-article-block _{{- _forloop_index -}}">
  <div class="content">
    <small class="category">{{ craft_area }}</small>
    <a href="{{- url -}}" class="u-heading-sm title stretched-link">
      {{- title -}}
    </a>
    {%- if excerpt != blank -%}
      <p>{{- excerpt | strip_html -}}</p>
    {%- endif -%}
    <time class="date u-text-sm">{{- date -}}</time>
    <a href="{{- url -}}" class="c-btn main primary">
      {{- 'Read On' -}}
    </a>
  </div>
  {%- if image != blank -%}
    {{- image | image_url: width: 960 | image_tag: widths: '400, 600, 800', alt: image.alt, loading: 'lazy' -}}
  {%- else -%}
    {{ 'lifestyle-1' | placeholder_svg_tag }}
  {%- endif -%}
</article>