{% doc %}
  Displays article as a card with optional image.

  @param {article} _article - The article object to display
  @param {boolean} _show_image - Whether to show the article image

  @example
  {% render 'article-card', _article: article, _show_image: true %}
{% enddoc %}
{% liquid
  assign image = article.image
  assign image_alt = image.alt | default: title

  assign title = article.title
  assign excerpt = article.excerpt | default: article.content | truncatewords: 24 | strip_html | prepend: '<p>' | append: '</p>'
  assign url = article.url | escape
  assign date = article.published_at | date: '%d %B %Y'
  assign blog_url = article.url | split: '/'
  assign blog_name = blogs[blog_url[2]].title
  assign tag_category = ''

  for tag in article.tags
    if tag contains 'Category'
      assign tag_category = tag | split: '_' | last
    endif
  endfor
%}

<article class="snippet-article-card">
  {%- if _show_image == true -%}
    <div class="image">
      {%- if tag_category != blank -%}
        <div class="c-lozenges">
          <span class="whisper">{{- tag_category -}}</span>
        </div>
      {%- endif -%}
      {%- if image != blank -%}
        <img
          src="{{- image | image_url: width: 400 -}}"
          height="128"
          width="280"
          alt="{{- image_alt -}}"
          loading="lazy"
          class=""
        >
      {%- else -%}
        {{ 'lifestyle-1' | placeholder_svg_tag }}
      {%- endif -%}
    </div>
  {%- endif -%}
  <div class="content">
    <a href="{{- url -}}">
      <div class="title">{{- title -}}</div>
      {{- excerpt | remove: '&nbsp;' -}}
    </a>
    <time class="date">{{- date -}}</time>
  </div>
</article>
