{% doc %}
  Renders breadcrumb for product detail pages.

  @example
  {% render 'breadcrumb-pdp' %}
{% enddoc %}
{{- 'snippet-breadcrumb.css' | asset_url | stylesheet_tag -}}

<nav aria-label="{{ 'breadcrumb.aria_label' | t }}" role="navigation" class="snippet-breadcrumb container">
  {%- capture separator -%}
    {%- render 'icon', _name: 'icon-chevron-right' -%}
  {%- endcapture -%}

  <ol id="pdp-breadcrumb">
    <li>
      <a href="{{ routes.root_url }}" title="Home" rel="home">Home</a>
      {{ separator }}
    </li>

    {%- if collection.url -%}
        <li id="collection-li">
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title | escape }}</a>
          {{ separator }}
        </li>
    {%- else -%}
      {% assign first_collection = product.collections | first %}
        <li id="collection-li">
          <a href="{{ first_collection.url }}" title="{{ first_collection.title }}">{{ first_collection.title }}</a>
          {{ separator }}
        </li>
    {%- endif -%}
    <li>
      <span class="breadcrumb-current-desktop" aria-current="page">{{ product.title | escape }}</span>
      <span class="breadcrumb-current-mobile">{{ product.title | truncate: 25 | escape }}</span>
    </li>
  </ol>
</nav>

{% javascript %}
(()=>{const e="history-li";function t(e,t){const n=document.createElement("li"),o=document.createElement("a"),r=t.cloneNode(!0);o.href=e.url;const c=function(e){if(e)return e.replace("&amp;","&")}(e.title);return o.innerText=c,n.appendChild(o),n.appendChild(r),n}document.addEventListener("historyReady",(function(){!function(){const n=function(){const e=sessionStorage.getItem("tempBrowsingHistory")||null;if(e)return JSON.parse(e)}();if(!n)return;if(1===n.length&&window.location.href.includes(n[0].url))return;const o=document.querySelector("#collection-li"),r=o.querySelector("svg").cloneNode(!0);let c=0;n.slice().reverse().forEach(((n,i)=>{if(n&&n.url&&n.title&&n.title.length>1&&!window.location.href.includes(n.url)){switch(c){case 0:const c=t(n,r);c.id=e,o.replaceWith(c);break;case 1:const i=document.getElementById(e),l=t(n,r);i?i.parentNode.insertBefore(l,i):o.parentNode.after(l,o)}c++}}))}()}))})();
{% endjavascript %}
