<!--
  _lozenge
  _image
  _heading
  _loading
  _url
  _name
-->
<div class="snippet-category-item">
  {%- if _lozenge != blank -%}
    <span class="c-lozenge carnation">{{- _lozenge -}}</span>
  {%- endif -%}
  <div class="image">
    {%- if _image != blank -%}
      <img src="{{ _image | image_url: width: 400 }}" alt="{{ _heading }}" height="332" width="295" loading="{{- _loading -}}">
    {%- else -%}
      {{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}
    {%- endif -%}
  </div>
  <a href="{{ _url }}" class="stretched-link" title="{{- _heading -}}">
    <span>{{ _heading }}</span>
    {% render 'icon', _name: 'icon-arrow-right' -%}
  </a>
</div>
