{% doc %}
  Displays category item with optional lozenge label and image.

  @param {string} [_lozenge] - Optional lozenge label text
  @param {image} _image - The category image
  @param {string} _heading - The category heading text
  @param {string} _loading - Image loading strategy (e.g. 'lazy', 'eager')
  @param {string} _url - The category link URL
  @param {string} _name - The category name

  @example
  {% render 'category-item', _image: collection.image, _heading: collection.title, _url: collection.url, _loading: 'lazy' %}
{% enddoc %}
<div class="snippet-category-item">
  {%- if _lozenge != blank -%}
    <span class="c-lozenge carnation">{{- _lozenge -}}</span>
  {%- endif -%}
  <div class="image">
    {%- if _image != blank -%}
      <img src="{{ _image | image_url: width: 400 }}" alt="{{ _heading }}" height="332" width="295" loading="{{- _loading -}}">
    {%- else -%}
      {{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}
    {%- endif -%}
  </div>
  <a href="{{ _url }}" class="stretched-link" title="{{- _heading -}}">
    <span>{{ _heading }}</span>
    {% render 'icon', _name: 'icon-arrow-right' -%}
  </a>
</div>
