<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="canonical" href="{% if collection_canonical != blank %}{{ collection_canonical }}{% else %}{{ canonical_url }}{% endif %}" />
	<link rel="preload" href="{{- 'theme.css' | asset_url -}}" as="style" />
	<link rel="preload" href="{{- 'theme.js' | asset_url -}}" as="script" />

	{% liquid
		render 'theme-page-title', collection: collection
		render 'theme-meta-description', collection: collection
		render 'favicon'
		render 'css-settings'
		render 'animation-script'
	%}

    {%- if template.suffix == "no-index-no-follow" -%}
		<meta name="robots" content="none" />
	{%- endif -%}

	<script type="text/javascript">
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
		window.routes = {
			root_url: '{{ routes.root_url }}',
			cart_add_url: '{{ routes.cart_add_url }}',
			cart_change_url: '{{ routes.cart_change_url }}',
			cart_update_url: '{{ routes.cart_update_url }}',
			cart_url: '{{ routes.cart_url }}',
			predictive_search_url: '{{ routes.predictive_search_url }}',
			search_url: '{{ routes.search_url }}'
		};

		var theme = {
			strings: {
				addToCart: {{ 'products.product.add_to_cart' | t | json }},
				soldOut: {{ 'products.product.sold_out' | t | json }},
				unavailable: {{ 'products.product.unavailable' | t | json }}
      },
			moneyFormat: {{ shop.money_format | json }},
      url: {{ shop.url | json }},
			template: '{{ template }}',
			search: {
				predictive_search_enabled: '{{ settings.predictive_search_enabled }}',
				suggested_content_enabled: '{{ settings.suggested_content_enabled }}'
			}
    };

		// Set the breakpoints -  these must match the same rules set in the CSS
		theme.breakpoints = {
			xs: 0,
			sm: 576,
			md: 767,
			lg: 1024,
			xl: 1280,
			hd: 1600,
		};

		theme.predictiveSearchSettings = {
			resourceTypes: "{% if settings.resource_query %}query,{% endif %}{% if settings.resource_product %}product,{% endif %}{% if settings.resource_collection %}collection,{% endif %}{% if settings.resource_article %}article,{% endif %}{% if settings.resource_page %}page{% endif %}",
			resourceLimitAll: '{{ settings.resource_limit_all }}',
			resourceLimitEach: '{{ settings.resource_limit }}',
			showUnavailable: '{{ settings.show_unavailable }}',
			additionalFieldsToSearch: false,
		};

		// create sections to be registered
		theme.sections = new Array();

		// Bind the updated `theme` object back onto the window
		window.theme = {
			...theme,
			...window.theme
		};

		{%- if template.directory == 'customers' -%}
		theme.allCountryOptionTags = {{ all_country_option_tags | json }};
		{%- endif -%}
	</script>
	<script src="{{- 'theme.js' | asset_url -}}" defer></script>
	{%- render 'social-meta-tags', product, page, article -%}
	{%- render 'microdata', product, collection, article, blog, page -%}

	{%- if template contains 'gift_card' -%}
		<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
	{%- endif -%}

	{%- if template.directory == 'customers' -%}
		<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
		<script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
	{%- endif -%}

	{%- render 'tracking-scripts' -%}

	{%- capture header_content -%}{{ content_for_header }}{% endcapture %}
	{{- header_content | replace: '?page=1">', '">' -}}
</head>

<body id="wrapper" class="template-{{ template.name | handleize }}{% if template.suffix %} template-{{ template | handleize }}{% endif %}">
	<main class="site-main" role="main">
		{{ content_for_layout }}
	</main>
	{% capture svg_render %}
		<div style="height: 0; overflow: hidden;">
			{%- render 'svg-spritesheet.svg' -%}
		</div>
  {%- endcapture -%}
  {{ svg_render | replace: '  ', '' | strip_newlines }}
	{%- render 'tracking-google-tag-manager' with type: 'body' -%}
</body>

</html>