<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    {%- render 'favicon' -%}

    {%- if template.suffix == 'no-index-no-follow' or current_tags.size >= 2 -%}
      <meta name="robots" content="noindex, nofollow">
    {%- endif -%}

    {%- render 'css-settings' -%}

    <script type="text/javascript">
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      var theme = {
          strings: {
              addToCart: {{ 'products.product.add_to_cart' | t | json }},
              soldOut: {{ 'products.product.sold_out' | t | json }},
              unavailable: {{ 'products.product.unavailable' | t | json }}
          },
          moneyFormat: {{ shop.money_format | json }}
      };
      {%- if template.directory == 'customers' -%}
          theme.allCountryOptionTags = {{ all_country_option_tags | json }};
      {%- endif -%}
    </script>

    {%- render 'social-meta-tags', product, page, article -%}
    {%- render 'microdata', product, collection, article, blog, page -%}

    {%- if template.directory == 'customers' -%}
      {{- 'shopify_common.js' | shopify_asset_url | script_tag -}}
      {{- 'customer_area.js' | shopify_asset_url | script_tag -}}
    {%- endif -%}

    {%- capture header_content -%}{{ content_for_header }}{% endcapture %}
    {{- header_content | replace: '?page=1">', '">' -}}
  </head>
  <body class="t-{{ template.name | handleize }}{% if template.suffix %} t-{{ template | handleize }}{% endif %}">
      <main class="site-main" role="main">
        {{ content_for_layout }}
      </main>
    <div style="height: 0; overflow: hidden;">
      {%- render 'svg.spritesheet.svg' -%}
    </div>
    {{- 'theme.js' | asset_url | script_tag -}}
  </body>
</html>
