{% liquid
  assign template_name = 'section-a-z-blocks'

  assign blocks = section.blocks | map: 'settings'
  assign margin_bottom = section.settings.margin_bottom
%}


{% if blocks.size > 0 %}
  <div class="{{- template_name }} u-space-below-{{- margin_bottom }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
    {%-
      render 'paper-edge',
      _section: section
    -%}
    <div class="container">
      <div class="wrapper">
        <ul class="nav">
          {% for block in blocks %}
            <li class="{% if forloop.first %}is-active{% endif %}">
              <a href="#letter-{{- block.letter -}}" class="{% if forloop.first %}is-active{% endif %}" data-az-nav-item>
                {{ block.letter }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="content">
          {% for block in blocks %}
            <div id="letter-{{- block.letter -}}">
              <h3 class="u-heading-lg heading">{{ block.letter }}</h3>
              {{ block.text }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% stylesheet %}
.section-a-z-blocks {
  --nav-offset: 6rem;
  position: relative;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .section-a-z-blocks {
    --nav-offset: 7rem;
  }
}
@media (min-width: 1024px) {
  .section-a-z-blocks {
    --nav-offset: 11rem;
  }
}
.section-a-z-blocks .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-a-z-blocks .wrapper .nav {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--colour-emperor);
  border-radius: 2rem;
  padding: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  position: -webkit-sticky;
  position: sticky;
  top: var(--nav-offset);
  z-index: 50;
  background-color: var(--colour-white);
}
.section-a-z-blocks .wrapper .nav li a {
  cursor: pointer;
  height: 1.75rem;
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 100%;
  display: grid;
  place-items: center;
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--colour-emperor);
  text-decoration: none;
}
.section-a-z-blocks .wrapper .nav li a:hover, .section-a-z-blocks .wrapper .nav li a:focus {
  background-color: var(--colour-whisper);
}
.section-a-z-blocks .wrapper .nav li a.is-active {
  background-color: var(--colour-whisper);
}
.section-a-z-blocks .wrapper .content {
  width: 100%;
  max-width: var(--rte-max-width);
  padding-top: 2rem;
  display: grid;
  gap: 2.5rem;
}
.section-a-z-blocks .wrapper .content > div {
  flex-direction: column;
  gap: 1.5rem;
  scroll-margin-top: calc(var(--nav-offset) + 4rem);
}
.section-a-z-blocks .wrapper .content > div .heading {
  margin-bottom: 1.5rem;
}
.section-a-z-blocks .wrapper .content > div p:last-of-type {
  margin: 0;
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";const e="is-active";var t,s;t="section-a-z-blocks",s={onLoad(){this.initNav()},onUnload(){delete this.elements},initNav(){const t=this.container.querySelectorAll("[data-az-nav-item]");t.forEach((s=>{s.addEventListener("click",(function(){t.forEach((t=>{t.classList.remove(e)})),s.classList.add(e)}))}))}},Shopify.theme.sections&&Shopify.theme.sections.register?(0===Shopify.theme.sections.getInstances(t).length&&Shopify.theme.sections.register(t,s),Shopify.theme.sections.load(t)):function(e,t){var s={name:e,events:t};theme.sections.push(s)}(t,s)})();
{% endjavascript %}

{% schema %}
{
  "name": "A-Z Blocks",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "top_edge_colour",
      "label": "Top edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "bottom_edge_colour",
      "label": "Bottom edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "background_colour",
      "label": "Background colour",
      "info": "This can only be applied if a edge version is selected",
      "options": [
        {
          "value": "black-squeeze",
          "label": "Green"
        },
        {
          "value": "pippin",
          "label": "Pink"
        },
        {
          "value": "whisper",
          "label": "Purple"
        }
      ],
      "default": "whisper"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "type": "a-z-block",
      "name": "Tab",
      "settings": [

        {
          "type": "text",
          "id": "letter",
          "label": "Letter"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "A-Z Blocks",
      "category": "Content"
    }
  ]
}
{% endschema %}
