{%- liquid
  assign template_name = 'section-blog-header'

  assign blog_title = blog.title
  assign description = blog.metafields.custom.description
  assign featured_image = blog.metafields.custom.featured_image
%}


<div class="{{- template_name -}}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <picture>
    <source media="(min-width:1500px)" srcset="{{- featured_image | image_url: width: 1920 -}}">
    <source media="(min-width:1100px)" srcset="{{- featured_image | image_url: width: 1500 -}}">
    <source media="(min-width:800px)" srcset="{{- featured_image | image_url: width: 1024 -}}">
    <source media="(min-width:551px)" srcset="{{- featured_image | image_url: width: 800 -}}">
    <source media="(max-width: 550.8px)" srcset="{{- featured_image | image_url: width: 600 -}}">
    <img src="{{- featured_image | image_url: height: 512 -}}" alt="{{- featured_image.alt | default: blog_title -}}" height="412" width="390" loading="eager"/>
  </picture>
  <div class="content">
    <h1 class="u-heading-xl">{{- blog_title -}}</h1>
    <p>{{- description | metafield_tag -}}</p>
  </div>
  {%-
    render 'paper-edge',
    _section: section,
    _bottom_edge_colour: 'white'
  -%}
</div>

{% stylesheet %}
.section-blog-header {
  position: relative;
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .section-blog-header {
    margin-bottom: 4rem;
  }
}
.section-blog-header::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: var(--colour-royal-purple);
  opacity: 0.88;
  z-index: 5;
}
.section-blog-header picture {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.section-blog-header picture, .section-blog-header picture img {
  display: block;
}
.section-blog-header picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-blog-header .content {
  padding: 4rem var(--gutter);
  position: relative;
  z-index: 50;
  color: var(--colour-sugar-cane);
  text-align: center;
}
@media (min-width: 768px) {
  .section-blog-header .content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 1280px) {
  .section-blog-header .content {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }
}
.section-blog-header .content h1, .section-blog-header .content p {
  margin-left: auto;
  margin-right: auto;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Blog Header",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "edge-03"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Blog Header",
      "category": "Content"
    }
  ],
  "enabled_on": {
    "templates": ["blog"]
  }
}
{% endschema %}
