{%- liquid
  assign template_name = 'section-category-hero'

  assign featured_image = page.metafields.custom.featured_image
  assign page_handle = page.title | handleize
  assign alt_layout = false
  assign enable_alternative_category_hero_layout = page.metafields.custom.enable_alternative_category_hero_layout

  if enable_alternative_category_hero_layout == true
    assign alt_layout = true
  endif

  assign filter_url_snippet = '?filter.p.tag='
  assign shop_url = shop.url

  assign enable_collection_blocks = section.settings.enable_collection_blocks

  assign tag_blocks = section.blocks | where: 'type', 'tag_block'
  assign collection_blocks = section.blocks | where: 'type', 'collection_block'

  assign text_width = section.settings.text_width

  assign enable_blocks = section.settings.enable_blocks
  assign margin_bottom = section.settings.margin_bottom
%}


<style>
  div[data-section-id="{{ section.id }}"]{
    --ul-left-padding: 7.75rem;
    {%- if featured_image == blank -%}
      --ul-left-padding: 0;
    {%- endif -%}
    {% if text_width == 'wide' %}
      --text-width: 75%;
    {% elsif text_width == 'full' %}
      --text-width: 100%;
    {% else %}
      --text-width: var(--paragraph-max-width);
    {% endif %}
  }
</style>

{% if section.blocks.size > 0 and enable_blocks == true -%}
  {% capture header_items %}
  <ul>
    {%- for block in tag_blocks -%}
      {% liquid
        assign collection = collections[block.settings.collection]
        assign collection_handle = collection.title | handleize
        assign collection_url = '/collections/' | append: collection_handle
        assign tag = block.settings.tag
        assign tag_formatted = tag | replace: ' ', '+' | prepend: filter_url_snippet
        assign tag_url = shop.url | append: collection_url | append: tag_formatted
        assign tag_text = tag | split: '_' | last
      %}
      <li>
        <a href="{{ tag_url }}" class="c-btn query">
          {{ tag_text }}
        </a>
      </li>
    {%- endfor -%}
  <ul>
  {% endcapture %}
{%- endif -%}
<div class="{{- template_name }} u-space-below-{{- margin_bottom }} overflow-hidden {% if alt_layout == true %} alt-layout {% endif %}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="container">
    {%- if alt_layout == false -%}
      <header>
        {%-
          render 'section-header',
          _image: featured_image,
          _heading: page.title,
          _text: page.content
          _offset: false,
          _heading_class: 'u-heading-lg',
          _loading: 'eager'
        -%}
        {{ header_items }}
      </header>
    {%- else -%}
      <header class="alt">
        {%-
          render 'category-hero-alt',
          _image: featured_image,
          _heading: page.title,
          _description: page.content,
          _header_items: header_items
        -%}
      </header>
      {% if enable_blocks == true  %}
        <h3 class="u-heading-xs block-heading">{{- 'template.category.block_heading_html' | t: title: page.title -}}</h3>
      {% endif %}
    {%- endif -%}
    {% if enable_blocks == true  %}
      <div class="swiper-container has-scrollbar" data-ch-slider>
        <div class="swiper-wrapper">
          {%- if enable_collection_blocks == true -%}
            {%- for block in collection_blocks -%}
              {% liquid
                assign collection = block.settings.collection
              %}
              <div class="swiper-slide">
                {%
                  render 'category-item',
                  _url: collection.url,
                  _image: collection.image,
                  _heading: collection.title,
                  _loading: 'eager'
                -%}
              </div>
            {%- endfor -%}
          {%- else -%}
            {%- for link in linklists[section.settings.menu].links -%}
              {% liquid
                assign link_handle = link.title | handleize
              %}
              {%- if page_handle == link_handle -%}
                {%- for childlink in link.links -%}
                  {% liquid
                    assign page_url = childlink.url
                    assign page_url_split = page_url | split: '/' | last

                    if page_url contains 'collection'
                      assign collection = collections[page_url_split]
                      assign block_image = collection.image
                    elsif page_url contains 'pages'
                      assign page = pages[page_url_split]
                      assign block_image = page.metafields.custom.featured_image
                    endif
                  %}
                  <div class="swiper-slide">
                    {%
                      render 'category-item',
                      _url: childlink.url,
                      _image: block_image,
                      _heading: childlink.title,
                      _loading: 'eager'
                    -%}
                  </div>
                {%- endfor -%}
              {%- else -%}
                {{ break }}
              {%- endif -%}
            {%- endfor -%}
          {%- endif-%}
        </div>
        <div class="swiper-scrollbar" data-ch-slider-scrollbar></div>
      </div>
    {% endif %}
  </div>
</div>

{% stylesheet %}
@media (max-width: 1023.98px) {
  .section-category-hero > .container {
    padding: 0;
  }
}
.section-category-hero .snippet-section-header .description {
  max-width: var(--text-width);
}
.section-category-hero .snippet-section-header .description p {
  max-width: 100%;
}
@media (min-width: 1024px) {
  .section-category-hero header {
    padding-top: 1.5rem;
  }
}
.section-category-hero header:not(.alt) {
  margin-bottom: 2.5rem;
}
@media (max-width: 1023.98px) {
  .section-category-hero header:not(.alt) {
    padding: 0 var(--gutter);
  }
}
@media (max-width: 1023.98px) {
  .section-category-hero header:not(.alt) ul {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .section-category-hero header:not(.alt) ul {
    padding-left: var(--ul-left-padding);
  }
}
.section-category-hero header.alt {
  margin-bottom: 2rem;
  position: relative;
}
@media (max-width: 575.98px) {
  .section-category-hero header.alt {
    padding: 24vh 1rem 1rem;
  }
}
@media (min-width: 1024px) {
  .section-category-hero header.alt {
    margin-bottom: 4rem;
    padding: 1rem;
  }
}
.section-category-hero header.alt::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.72) 100%);
}
@media (min-width: 1024px) {
  .section-category-hero header.alt::before {
    border-radius: var(--border-radius-xl);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.72) 100%);
  }
}
.section-category-hero header.alt picture {
  z-index: 1;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
  .section-category-hero header.alt picture {
    border-radius: var(--border-radius-xl);
    overflow: hidden;
  }
}
.section-category-hero header.alt picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-category-hero header.alt .content {
  position: relative;
  z-index: 10;
  color: var(--colour-white);
  max-width: 800px;
}
@media (min-width: 768px) {
  .section-category-hero header.alt .content {
    padding: 1rem 1.5rem 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 72vw;
  }
}
.section-category-hero header.alt .content p:last-of-type {
  margin: 0;
}
@media (max-width: 1023.98px) {
  .section-category-hero header.alt .content:not(.text-is-visible) p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.section-category-hero header.alt .content [data-cha-read-more] {
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .section-category-hero header.alt .content [data-cha-read-more] {
    display: none;
  }
}
.section-category-hero header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  max-width: 100%;
}
@media (max-width: 1023.98px) {
  .section-category-hero .block-heading {
    padding: 0 1rem;
  }
}
.section-category-hero .block-heading span {
  text-transform: lowercase;
}
@media (max-width: 1023.98px) {
  .section-category-hero .swiper-wrapper {
    padding: 0 var(--gutter);
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    box-sizing: border-box;
  }
}
.section-category-hero .swiper-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1rem;
}
@media (min-width: 1024px) {
  .section-category-hero .snippet-category-item {
    width: var(--category-item-width-sm);
  }
}
.section-category-hero .swiper-scrollbar {
  background-color: var(--colour-whisper);
}
@media (max-width: 1023.98px) {
  .section-category-hero .swiper-scrollbar {
    display: none;
  }
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";var e;e={name:"section-category-hero",events:{async onLoad(){window.matchMedia(`(min-width: ${window.theme.breakpoints.lg}px)`).matches&&this.loadSlider()},loadSlider(){window.theme.Swiper?this.initSlider():document.addEventListener("theme:inititialised",(()=>{this.initSlider()}),{once:!0})},initSlider(){const e=this.container.querySelector("[data-ch-slider]");if(e){const i=e.querySelector("[data-ch-slider-scrollbar]");new window.theme.Swiper(e,{slidesPerView:"auto",loop:!1,spaceBetween:16,simulateTouch:!0,freeMode:{enabled:!0,sticky:!1,momentumBounce:!1},scrollbar:{el:i,draggable:!0},mousewheel:!0})}}}},theme.sections.push(e)})();
{% endjavascript %}

{% schema %}
{
  "name": "Category Hero",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "enable_collection_blocks",
      "label": "Enable collection blocks",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_blocks",
      "label": "Enable blocks below heading",
      "default": true
    },
    {
      "type": "select",
      "id": "text_width",
      "label": "Select text with for desktop",
      "options": [
        {
          "value": "standard",
          "label": "Standard - Recommended"
        },
        {
          "value": "wide",
          "label": "Wide -75%"
        },
        {
          "value": "full",
          "label": "Full width"
        }
      ],
      "default": "standard"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "type": "tag_block",
      "name": "Tag block",
      "limit": 4,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Tag",
          "info": "This must be an exact match to the offer tag for the collection. E.g. offer_3 for 2"
        }
      ]
    },
    {
      "type": "collection_block",
      "name": "Collection block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Category Hero",
      "category": "Content"
    }
  ]
}
{% endschema %}