{%- liquid
  assign template_name = 'section-club-inspire-hero'

  assign edge_version = section.settings.edge_version

  assign image = section.settings.image
  assign heading = section.settings.heading
  assign text = section.settings.text
  assign cta_text = section.settings.cta_text
  assign message_one = section.settings.message_one
  assign message_two = section.settings.message_two

  assign margin_bottom = section.settings.margin_bottom
%}


<div class="{{- template_name }} u-space-below-{{- margin_bottom }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  {%-
    render 'paper-edge',
    _bottom_edge_colour: 'white',
    _section: section
  -%}
  <div class="container">
    <div class="content">
      <h1 class="u-heading-xl">{{- heading -}}</h1>
      <p class="u-text-xl">
        {{- text -}}
      </p>
      <div class="actions">
        <a href="{{- routes.account_register_url -}}" class="c-btn main quinary">
          {{- 'template.customers.loyalty.sign_up_text' | t -}}
        </a>
        <a href="{{- routes.account_login_url -}}" class="c-btn alt quaternary">
          {{- 'template.customers.loyalty.sign_in_text' | t -}}
          {%- render 'icon', _name: 'icon-arrow-right' -%}
        </a>
      </div>
      <p class="u-text-lg">{{- cta_text -}}</p>
    </div>
    <div class="image">
      <div class="cta-block one">
        <p class="u-text-lg">{{- message_one -}}</p>
      </div>
      <div class="cta-block two">
        <p class="u-text-lg">{{- message_two -}}</p>
      </div>
      <picture>
        <source media="(min-width:800px)" srcset="{{- image | image_url: width: 1024 -}}">
        <source media="(min-width:551px)" srcset="{{- image | image_url: width: 800 -}}">
        <source media="(max-width: 550.8px)" srcset="{{- image | image_url: width: 600 -}}">
        <img src="{{- image | image_url: height: 600 -}}" alt="{{- image.alt | default: _heading -}}" height="600" width="390">
      </picture>
    </div>
  </div>
</div>

{% stylesheet %}
.section-club-inspire-hero {
  background-color: var(--colour-carnation);
  color: var(--colour-sugar-cane);
  position: relative;
}
.section-club-inspire-hero .container {
  position: relative;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .container {
    display: grid;
    grid-template-columns: 52% 1fr;
    gap: 2rem;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .container {
    grid-template-columns: minmax(32rem, 1fr) 1fr;
    gap: 4rem;
  }
}
.section-club-inspire-hero .container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 32rem;
  width: 32rem;
  transform: translate(0, -3rem);
  z-index: 1;
  opacity: 0.08;
  background-image: url("data:image/svg+xml,%3Csvg width='457' height='448' viewBox='0 0 457 448' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0146598 223.956C1.40989 345.015 100.131 442.71 221.701 442.71C274.006 442.71 322.049 424.603 359.952 394.338C370.044 386.285 384.73 396.151 381.04 408.513C377.721 419.627 373.513 430.536 368.4 441.134C366.181 445.711 371.778 450.123 375.717 446.89C382.36 441.419 388.761 435.491 394.849 429.132C457.918 363.245 469.863 264.425 444.708 178.419C436.61 150.742 424.665 124.367 409.342 100.869C387.403 67.2049 355.933 38.9849 319.511 21.8241C290.185 8.00974 257.983 0.559676 225.569 0.0322774C224.373 0.0109749 223.167 8.92915e-07 221.971 8.92915e-07C99.3815 -0.0109731 -1.39738 101.133 0.0146598 223.956Z' fill='%23FDFFFC'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .container::before {
    height: 28rem;
    width: 28rem;
    transform: translate(4.5rem, -3rem);
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .container::before {
    height: 26rem;
    width: 26rem;
    transform: translate(-6.5rem, 2rem);
  }
}
.section-club-inspire-hero .content {
  padding: 3.5rem 0;
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .section-club-inspire-hero .content {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .section-club-inspire-hero .content {
    padding: 3.5rem 1rem;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .content {
    padding: 5rem 0 5rem 5rem;
  }
}
@media (min-width: 1280px) {
  .section-club-inspire-hero .content {
    padding-left: 9.5rem;
  }
}
.section-club-inspire-hero .content .actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 767.98px) {
  .section-club-inspire-hero .content .actions {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .content .actions {
    padding-top: 1rem;
  }
}
.section-club-inspire-hero .content .actions .alt {
  font-size: 1rem;
  font-weight: 500;
}
.section-club-inspire-hero .image {
  position: relative;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .image {
    display: flex;
    align-items: flex-end;
    padding-top: 4rem;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .image {
    padding-top: 2rem;
  }
}
.section-club-inspire-hero .image picture {
  display: block;
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .image picture {
    margin-left: 12%;
  }
}
.section-club-inspire-hero .image img {
  position: relative;
  z-index: 5;
  height: 22rem;
  width: 100%;
  object-fit: contain;
  object-position: center bottom;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .image img {
    height: 26rem;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .image img {
    height: 28rem;
  }
}
.section-club-inspire-hero .cta-block {
  background-color: var(--colour-carnation);
  border: 1px dashed var(--colour-sugar-cane);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1rem;
  position: absolute;
  z-index: 10;
}
@media (min-width: 1280px) {
  .section-club-inspire-hero .cta-block {
    background-color: rgba(255, 255, 255, 0.08);
  }
}
.section-club-inspire-hero .cta-block p {
  margin: 0;
  max-width: 14ch;
}
.section-club-inspire-hero .cta-block p, .section-club-inspire-hero .cta-block p strong {
  font-weight: 600;
}
.section-club-inspire-hero .cta-block strong {
  color: var(--colour-emperor);
}
.section-club-inspire-hero .cta-block.one {
  top: 0;
  left: 0;
  transform: translateY(-3rem);
}
@media (min-width: 768px) {
  .section-club-inspire-hero .cta-block.one {
    transform: none;
    top: 2rem;
  }
}
@media (min-width: 1280px) {
  .section-club-inspire-hero .cta-block.one {
    top: 3.5rem;
    left: auto;
    right: 4rem;
    transform: translateX(-4rem);
  }
}
.section-club-inspire-hero .cta-block.two {
  top: 3rem;
  right: 1rem;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .cta-block.two {
    top: 24%;
    right: 0;
  }
}
@media (min-width: 1280px) {
  .section-club-inspire-hero .cta-block.two {
    top: 40%;
    right: 2rem;
  }
}
.section-club-inspire-hero .cta-block.two p {
  max-width: 8ch;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .cta-block.two p {
    max-width: 12ch;
  }
}
{% endstylesheet %}

{% schema %}
{
  "name": "Club Inspire - Hero",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Minimum width: 1024px and on a transparent background with white outline as per the design in Figma."
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "inline_richtext",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "header",
      "content": "Promotion Messages"
    },
    {
      "type": "inline_richtext",
      "id": "message_one",
      "label": "Message - One"
    },
    {
      "type": "inline_richtext",
      "id": "message_two",
      "label": "Message - Two"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "edge-03"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
  ]
}
{% endschema %}
