{%- liquid
  assign template_name = 'section-club-inspire-feature'
  assign margin_bottom = section.settings.margin_bottom

  assign image = section.settings.image
  assign image_alt = image.alt | heading | strip_html

  assign heading = section.settings.heading | remove: '<p>' | remove: '</p>'
  assign text = section.settings.text

  assign points_text = section.settings.points_text

  assign link_text = section.settings.link_text

  assign login_text = section.settings.login_text

  assign enable_dots = section.settings.enable_dots
  assign dot_colour_top = section.settings.dot_colour_top
  assign dot_colour_bottom = section.settings.dot_colour_bottom

%}


{%- if enable_dots == true -%}
  <style>
    div[data-section-id="{{ section.id }}"] .image::before{
      background-image: radial-gradient(var(--colour-{{- dot_colour_bottom -}}) 36%, var(--colour-black-squeeze) 30%);
    }

    div[data-section-id="{{ section.id }}"] .image::after{
      background-image: radial-gradient(var(--colour-{{- dot_colour_top -}}) 36%, var(--colour-black-squeeze) 30%);
    }
  </style>
{%- endif -%}

<div class="{{- template_name }} u-space-below-{{- margin_bottom }} overflow-hidden" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  {%- unless edge_version == 'none' -%}
    {%-
      render 'paper-edge',
      _section: section
    -%}
  {%- endunless -%}
  <div class="container">
    <div class="content u-content-offset">
      <p class="subheading">{{ 'sections.club_inspire_feature.subheading' | t }}</p>
      <h2 class="u-heading-lg">{{- heading -}}</h2>
      {{ text }}
      {{ points_text | replace: '<p>', '<p class="points-text">' }}
      {%- if link_text != blank -%}
        <a href="/pages/club-inspire" class="c-btn main primary">{{- link_text -}}</a>
      {%- endif -%}
      {{- login_text -}}
    </div>
    <picture class="image u-dots">
      <source media="(max-width: 550.8px)" srcset="{{- image | image_url: width: 600 -}}">
      <source media="(min-width:551px)" srcset="{{- image | image_url: width: 800 -}}">
      <img src="{{- image | image_url: width: 600 -}}" alt="{{- image_alt -}}" height="358" width="240" loading="lazy">
    </picture>
  </div>
</div>

{% stylesheet %}
.section-club-inspire-feature .container {
  display: grid;
  gap: 4.5rem;
  grid-template-areas: "image" "content";
}
@media (min-width: 1024px) {
  .section-club-inspire-feature .container {
    grid-template-columns: 1fr 50%;
    grid-template-areas: "content image";
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .section-club-inspire-feature .container {
    grid-template-columns: 1fr 46%;
    gap: 9.5rem;
  }
}
.section-club-inspire-feature .content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}
@media (max-width: 767.98px) {
  .section-club-inspire-feature .content {
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-club-inspire-feature .content {
    max-width: var(--content-tablet-width);
    margin: 0 auto;
  }
}
.section-club-inspire-feature .content > * {
  z-index: 5;
}
.section-club-inspire-feature .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 32rem;
  width: 32rem;
  transform: translate(-32%, -1rem);
  z-index: 1;
  opacity: 0.08;
  background-image: url("data:image/svg+xml,%3Csvg width='557' height='546' viewBox='0 0 557 546' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0178677 272.946C1.71839 420.487 122.041 539.552 270.213 539.552C333.963 539.552 392.519 517.484 438.716 480.6C451.016 470.785 468.916 482.809 464.418 497.875C460.374 511.42 455.244 524.716 449.013 537.632C446.308 543.211 453.13 548.587 457.931 544.647C466.027 537.979 473.829 530.754 481.249 523.005C558.119 442.705 572.678 322.268 542.018 217.449C532.148 183.717 517.589 151.572 498.913 122.934C472.174 81.9059 433.818 47.5128 389.426 26.5981C353.683 9.76187 314.434 0.682105 274.928 0.0393381C273.47 0.0133757 272 1.08824e-06 270.542 1.08824e-06C121.128 -0.0133735 -1.70315 123.256 0.0178677 272.946Z' fill='%2300A08D'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-club-inspire-feature .content::before {
    height: 40rem;
    width: 40rem;
    transform: translate(-32%, -32%);
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-feature .content::before {
    top: 50%;
    transform: translate(-24%, -56%);
  }
}
.section-club-inspire-feature .content .subheading {
  font-size: 1rem;
  font-weight: 600;
  color: var(--colour-persian-green);
  margin-bottom: 0.5rem;
}
.section-club-inspire-feature .content .points-text {
  border-radius: var(--border-radius-md);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.32);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23733089FF' stroke-width='3' stroke-dasharray='4%2c 12' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  font-size: 1rem;
  font-weight: 500;
}
.section-club-inspire-feature .content .c-btn {
  margin-bottom: 1.5rem;
}
.section-club-inspire-feature .image {
  grid-area: image;
  z-index: 1;
}
.section-club-inspire-feature .image::before {
  bottom: 0;
  left: 0;
  transform: translate(-16px, 16px);
}
@media (min-width: 1024px) {
  .section-club-inspire-feature .image::before {
    transform: translate(-36px, 36px);
  }
}
.section-club-inspire-feature .image::after {
  top: 0;
  right: 0;
  transform: translate(8px, -22px);
}
@media (min-width: 1024px) {
  .section-club-inspire-feature .image::after {
    top: 64px;
    transform: translateX(24px);
  }
}
.section-club-inspire-feature .image, .section-club-inspire-feature .image img {
  aspect-ratio: 3/2;
}
.section-club-inspire-feature .image img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}
{% endstylesheet %}

{% schema %}
{
  "name": "Club Inspire Feature",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Minimum width: 600px and 5/4 aspect ratio."
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "richtext",
      "id": "points_text",
      "label": "Points CTA text"
    },
    {
      "type": "richtext",
      "id": "login_text",
      "label": "Log in text"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "edge-03"
    },
    {
      "type": "select",
      "id": "top_edge_colour",
      "label": "Top edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "is-hidden"
    },
    {
      "type": "select",
      "id": "bottom_edge_colour",
      "label": "Bottom edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "background_colour",
      "label": "Background colour",
      "info": "This can only be applied if a edge version is selected",
      "options": [
        {
          "value": "black-squeeze",
          "label": "Green"
        },
        {
          "value": "pippin",
          "label": "Pink"
        },
        {
          "value": "whisper",
          "label": "Purple"
        }
      ],
      "default": "black-squeeze"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "label": "Enable dotted background graphics.",
      "default": true
    },
    {
      "type": "select",
      "id": "dot_colour_top",
      "label": "Colour for the top right dots",
      "options": [
        {
          "value": "persian-green",
          "label": "Green"
        },
        {
          "value": "royal-purple",
          "label": "Purple"
        },
        {
          "value": "carnation",
          "label": "Red"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "persian-green"
    },
    {
      "type": "select",
      "id": "dot_colour_bottom",
      "label": "Colour for the bottom left dots",
      "options": [
        {
          "value": "persian-green",
          "label": "Green"
        },
        {
          "value": "royal-purple",
          "label": "Purple"
        },
        {
          "value": "carnation",
          "label": "Red"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "royal-purple"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Club Inspire Feature",
      "category": "Content"
    }
  ]
}
{% endschema %}
