{%- liquid
  assign template_name = 'section-content-block-trio'

  assign link_style = section.settings.link_style
  assign link_colour = section.settings.link_colour
  assign custom_link_bg_colour = section.settings.custom_link_bg_colour
  assign custom_link_colour = section.settings.custom_link_colour
  assign use_image_only = section.settings.use_image_only

  if custom_link_bg_colour != blank and custom_link_colour != blank
    assign link_colour = ''
  endif

  assign margin_bottom = section.settings.margin_bottom
%}


<style>
  {% if custom_link_bg_colour != blank and custom_link_colour != blank %}
    div[data-section-id="{{ section.id }}"] .c-btn.main{
      background-color: {{ custom_link_bg_colour }};
      color: {{ custom_link_colour }};
    }
  {% endif %}
    div[data-section-id="{{ section.id }}"] .snippet-content-block-item .image {
    {% if use_image_only == true %}
      border: 0;
    {% else %}
      border-bottom: 1px solid var(--colour-emperor);
    {% endif %}
  }
</style>

<div class="{{- template_name }} overflow-hidden u-space-below-{{- margin_bottom }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="swiper-container has-scrollbar" data-scbt-slider>
      <div class="swiper-wrapper content-blocks">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            {%- render 'content-block-item', _block_settings: block.settings, _link_style: link_style, _link_colour: link_colour, _use_image_only: use_image_only -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
@media (min-width: 1024px) {
  .section-content-block-trio .content-blocks {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.section-content-block-trio .swiper-container .swiper-slide {
  height: auto;
  width: 100%;
}
.section-content-block-trio .swiper-container .snippet-promotion-item {
  height: 100%;
}
.snippet-content-block-item {
  position: relative;
  height: 100%;
  background-color: var(--colour-white);
  border: 1px solid var(--colour-emperor);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: none;
  transition: box-shadow var(--transition-duration) var(--transition-timing) 0s;
}
.snippet-content-block-item:hover, .snippet-content-block-item:focus {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
}
.snippet-content-block-item .image img, .snippet-content-block-item .image svg {
  height: auto;
  width: 100%;
  aspect-ratio: 5/4;
  object-fit: cover;
}
.snippet-content-block-item .block-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1.5rem 1.5rem;
  flex-grow: 1;
}
.snippet-content-block-item .block-content * {
  margin: 0;
}
.snippet-content-block-item .block-content .description {
  flex-grow: 2;
}
@media (max-width: 1023.98px) {
  .snippet-content-block-item .block-content .description {
    max-height: 4.5rem;
    overflow: hidden;
  }
}
.snippet-content-block-item .block-content .c-btn {
  width: -webkit-max-content;
  width: max-content;
}
.snippet-content-block-item .description strong {
  font-weight: 600;
  color: var(--colour-carnation);
}
.snippet-content-block-item a.heading {
  text-decoration: none;
  color: var(--colour-text-base);
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";var e,i;e="section-content-block-trio",i={async onLoad(){window.matchMedia(`(max-width: ${window.theme.breakpoints.lg}px)`).matches&&this.loadSlider()},loadSlider(){window.theme.Swiper?this.initSlider():document.addEventListener("theme:inititialised",(()=>{this.initSlider()}),{once:!0})},initSlider(){this.container.querySelectorAll("[data-scbt-slider]").forEach((e=>{const i=e.querySelector("[data-scbt-slider-scrollbar]");new window.theme.Swiper(e,{slidesPerView:1.1,loop:!1,spaceBetween:16,slideToClickedSlide:!0,freeMode:{enabled:!0,sticky:!1,momentumBounce:!1},scrollbar:{el:i,draggable:!0},mousewheel:!0,breakpoints:{[theme.breakpoints.sm]:{slidesPerView:1.8},[theme.breakpoints.md]:{slidesPerView:2.2}}})}))}},Shopify.theme.sections&&Shopify.theme.sections.register?(0===Shopify.theme.sections.getInstances(e).length&&Shopify.theme.sections.register(e,i),Shopify.theme.sections.load(e)):function(e,i){var t={name:e,events:i};theme.sections.push(t)}(e,i)})();
{% endjavascript %}

{% schema %}
{
  "name": "Content Block Trio",
  "tag": "section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "use_image_only",
      "label": "Use image only and hide content. This also wrap the image in a link.",
      "default": false
    },
    {
      "type": "select",
      "id": "link_style",
      "label": "Link style",
      "options": [
        {
          "value": "main",
          "label": "Main"
        },
        {
          "value": "alt",
          "label": "Alternative"
        }
      ],
      "default": "alt"
    },
    {
      "type": "select",
      "id": "link_colour",
      "label": "Link colour",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        },
        {
          "value": "quaternary",
          "label": "Quaternary"
        },
        {
          "value": "quinary",
          "label": "Quinary"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "type": "content_block",
      "name": "Content Block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "This will override the default image"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Block Trio",
      "category": "Content"
    }
  ]
}
{% endschema %}
