{%- liquid
  assign template_name = 'section-crafters-tv-landing'
  assign live_show_url = shop.metafields.ctv.live_show.value

  if live_show_url == "false"
    assign live_show_url = blank
  endif
%}


<div class="{{- template_name }} u-space-below-lg overflow-hidden" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="wrapper">
    {%- render 'paper-edge', _edge_version: 'edge-03', _bottom_edge_colour: 'white' -%}
    <div class="container">
      {%-
        render 'crafters-tv-heading',
        _title: section.settings.title,
        _heading: section.settings.heading,
        _text: section.settings.text,
        _text_class: 'u-text-xl'
      -%}
      <div class="actions">
        {% if live_show_url != blank %}
          <a href="{{- live_show_url -}}" class="c-btn main tertiary has-icon">
            {%- render 'icon', _name: 'icon-tv' %}
            {{ 'ctv.watch_live' | t }}
            {%- render 'icon', _name: 'icon-arrow-right' %}
          </a>
        {% endif %}
        <a href="{{- settings.ctv_schedule_link -}}" class="c-btn main secondary has-icon">
          {%- render 'icon', _name: 'icon-tv' %}
          {{ 'ctv.view_schedule' | t }}
          {%- render 'icon', _name: 'icon-arrow-right' %}
        </a>
      </div>
      <div class="swiper-container" data-ctl-desktop-slider>
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}

            {% liquid
              assign video = block.settings.video
              assign image = block.settings.image
            %}

            {%- if forloop.index == 1 -%}
              <div class="swiper-slide grid-single">
            {%- endif -%}
            {%- if forloop.index == 2 -%}
              </div>
              <div class="swiper-slide grid-trio wide">
            {%- endif %}
            {%- if forloop.index == 5 -%}
              </div>
              <div class="swiper-slide ">
            {%- endif -%}
            {%- if forloop.index == 6 -%}
              </div>
              <div class="swiper-slide grid-trio tall">
              {%- endif -%}
              <div class="media-content">
                {%- if block.type == 'video' -%}
                  {{- video | video_tag: image_size: '740px', autoplay: true, loop: true, controls: false, muted: true -}}
                {%- else -%}
                  {{- image | image_url: width: 800 | image_tag: widths: '400, 600, 800', alt: image.alt, loading: 'eager' -}}
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
      <div class="swiper-container" data-ctl-mobile-slider>
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            <div class="swiper-slide">
              {%- if block.type == 'video' -%}
                {{- video | video_tag: image_size: '600px', loop: true, controls: false, muted: true -}}
                {%- else -%}
                {{- image | image_url: width: 800 | image_tag: widths: '400, 600, 800', alt: image.alt, loading: 'eager' -}}
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
.section-crafters-tv-landing .wrapper {
  padding: 3rem 0 4rem 0;
  position: relative;
  z-index: 1;
  color: var(--colour-sugar-cane);
  overflow: hidden;
}
@media (min-width: 768px) {
  .section-crafters-tv-landing .wrapper {
    padding: 4.5rem 0 7rem 0;
  }
}
.section-crafters-tv-landing .wrapper:before {
  content: "";
  background: radial-gradient(circle, #90489c 0%, #4b3ab0 100%);
  position: absolute;
  inset: 0;
  height: calc(100% - 1px);
  width: 100%;
  z-index: 1;
}
.section-crafters-tv-landing .wrapper::after {
  content: "";
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 456 618' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cpath d='M17.425,276.477C-4.861,292.432 -4.86,325.568 17.425,341.524L392.553,610.1C419.023,629.052 455.838,610.132 455.838,577.577L455.838,40.423C455.838,7.868 419.023,-11.052 392.553,7.9L17.425,276.477Z' style='fill:rgb(31,19,0);fill-opacity:0.1;fill-rule:nonzero;'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top 4% right -24vw;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
@media (min-width: 768px) {
  .section-crafters-tv-landing .wrapper::after {
    background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 1087 1522' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.714 728.189c-22.285 15.956-22.285 49.091 0 65.047l1006.536 720.644c26.47 18.95 63.29.03 63.29-32.53v-1441.279c0-32.555-36.82-51.476-63.29-32.524z' fill='%231f1300' fill-opacity='.1' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-position: top -20rem right -24vw;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-landing .wrapper::after {
    background-position: top -28rem right -24vw;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-landing .wrapper::after {
    background-position: top -40rem right -32vw;
  }
}
@media (min-width: 1280px) {
  .section-crafters-tv-landing .wrapper::after {
    background-position: top -44rem right -36vw;
  }
}
@media (min-width: 1600px) {
  .section-crafters-tv-landing .wrapper::after {
    background-position: top -52rem right -40vw;
  }
}
.section-crafters-tv-landing .container {
  position: relative;
  z-index: 10;
}
.section-crafters-tv-landing .actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] {
  width: 44rem;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .section-crafters-tv-landing div[data-ctl-desktop-slider] {
    display: none;
  }
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide {
  display: grid;
  height: 28rem;
  width: 44rem;
  gap: 1rem;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide:not(.grid-trio) .media-content {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio {
  width: 38rem;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.wide {
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.wide > * {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.wide > *:first-of-type {
  grid-column: 1/span 2;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.wide > *:nth-last-of-type(2) {
  grid-column: 1;
  aspect-ratio: 1;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.wide > *:last-of-type {
  grid-column: 2;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.wide > *:not(:first-of-type) {
  grid-row: 2;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.wide > *:not(:nth-last-of-type(2)) img, .section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.wide > *:not(:nth-last-of-type(2)) video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.tall {
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.tall > * {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.tall > *:not(:first-of-type) {
  aspect-ratio: 1;
  grid-column: 2;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.tall > *:first-of-type {
  grid-column: 1;
  grid-row: 1/span 2;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.tall > *:nth-of-type(2) {
  grid-row: 1;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.tall > *:last-of-type {
  grid-row: 2;
}
.section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.tall:first-of-type img, .section-crafters-tv-landing div[data-ctl-desktop-slider] .swiper-slide.grid-trio.tall:first-of-type video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.section-crafters-tv-landing div[data-ctl-mobile-slider] {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .section-crafters-tv-landing div[data-ctl-mobile-slider] {
    display: none;
  }
}
.section-crafters-tv-landing div[data-ctl-mobile-slider] img, .section-crafters-tv-landing div[data-ctl-mobile-slider] video {
  aspect-ratio: 3/2;
}
.section-crafters-tv-landing .swiper-container img, .section-crafters-tv-landing .swiper-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: var(--border-radius-lg);
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";var e,i;e="section-crafters-tv-landing",i={async onLoad(){this.loadSlider()},loadSlider(){window.theme.Swiper?(this.initMobileSlider(),this.initDesktopSlider()):document.addEventListener("theme:inititialised",(()=>{this.initMobileSlider(),this.initDesktopSlider()}),{once:!0})},initMobileSlider(){if(window.matchMedia(`(max-width: ${window.theme.breakpoints.md}px)`).matches){const e=this.container.querySelector("[data-ctl-mobile-slider]");new window.theme.Swiper(e,{slidesPerView:1,spaceBetween:16,loop:!0,freeMode:!0}).on("slideChange",(e=>{e.slides.forEach(((i,t)=>{const o=i.querySelector("video"),s=e.activeIndex===t;o&&(s?o.play():o.pause())}))}))}},initDesktopSlider(){if(!window.matchMedia(`(max-width: ${window.theme.breakpoints.md}px)`).matches){const e=this.container.querySelector("[data-ctl-desktop-slider]");new window.theme.Swiper(e,{slidesPerView:"auto",spaceBetween:16,loop:!0,freeMode:!0})}this.container.querySelectorAll("video").forEach((e=>{e.play()}))}},Shopify.theme.sections&&Shopify.theme.sections.register?(0===Shopify.theme.sections.getInstances(e).length&&Shopify.theme.sections.register(e,i),Shopify.theme.sections.load(e)):function(e,i){var t={name:e,events:i};theme.sections.push(t)}(e,i)})();
{% endjavascript %}

{% schema %}
{
  "name": "Crafters TV - Landing",
  "tag": "section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Minimum width: 800px and 3/2 aspect ratio."
        }
      ]
    },
    {
      "name": "Video",
      "type": "video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    }
  ]
}
{% endschema %}
