{%- liquid
  assign template_name = 'section-crafters-tv-feature'

  assign crafters_logo = section.settings.crafters_logo

  assign heading = section.settings.heading | remove: '<p>' | remove: '</p>'
  assign text = section.settings.text

  assign live_link_url = shop.metafields.ctv.live_show.value

  if live_link_url == "false"
    assign live_link_url = blank
  endif
  assign live_link_text = section.settings.live_link_text

  assign schedule_link_url = section.settings.schedule_link_url
  assign schedule_link_text = section.settings.schedule_link_text

  assign image = section.settings.image
  assign image_alt = image.alt | heading | strip_html
  
  assign fp_link_url = section.settings.fp_link_url
  
  if fp_link_url contains 'collections'
    assign collection_handle = fp_link_url | split: '/' | last
    assign collection = collections[collection_handle]
  endif

  assign fp_heading = section.settings.fp_heading
  assign fp_link_text = section.settings.fp_link_text
  assign fp_product_list = section.settings.fp_product_list | default: collection.products
%}


<div class="{{- template_name }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  {%- render 'paper-edge', _section: section -%}
  <div class="container">
    <div class="wrapper">
      <div class="content u-content-offset">
        <img src="{{- crafters_logo | image_url -}}" alt="{{- crafters_logo.alt | default: 'Crafters TV' -}}" height="72" width="220" class="crafters-tv-logo" loading="lazy"/>
        <h2 class="u-heading-lg">{{- heading -}}</h2>
        {{- text -}}
        <div class="actions">
          {%- if live_link_url != blank and live_link_text != blank -%}
            <a href="{{- live_link_url -}}" class="c-btn main tertiary has-icon">
              {%- render 'icon', _name: 'icon-tv' -%}
              {{- live_link_text -}}
              {%- render 'icon', _name: 'icon-arrow-right', _class: 'arrow' -%}
            </a>
          {%- endif -%}
          {%- if schedule_link_url != blank and schedule_link_text != blank -%}
            <a href="{{- schedule_link_url -}}" class="c-btn main secondary has-icon">
              {%- render 'icon', _name: 'icon-calendar-clock' -%}
              {{- schedule_link_text -}}
              {%- render 'icon', _name: 'icon-arrow-right', _class: 'arrow' -%}
            </a>
          {%- endif -%}
        </div>
      </div>
      <picture class="image">
        <source media="(max-width: 550.8px)" srcset="{{- image | image_url: width: 600 -}}">
        <source media="(min-width:551px)" srcset="{{- image | image_url: width: 800 -}}">
        <img src="{{- image | image_url: width: 600 -}}" alt="{{- image_alt -}}" height="358" width="240" loading="lazy">
      </picture>
    </div>
    <hr/>
    <div class="featured-products">
      {%-
        render 'section-header',
        _heading: fp_heading,
        _link_url: fp_link_url,
        _link_text: fp_link_text,
        _link_class: 'quaternary'
      -%}
      <div class="c-product-grid grid-sm">
        {%- for product in fp_product_list limit: 6 -%}
          {%-
            render 'product-item',
            product: product
          -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
.section-crafters-tv-feature {
  position: relative;
  background: radial-gradient(95.56% 344.86% at 24.1% 33.77%, #90489c 0%, #4b3ab0 100%);
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: var(--colour-sugar-cane);
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.section-crafters-tv-feature::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='1088' height='1522' viewBox='0 0 1088 1522' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4265 728.477C-4.85938 744.432 -4.85942 777.568 17.4265 793.524L1023.96 1514.17C1050.43 1533.12 1087.25 1514.2 1087.25 1481.64L1087.25 40.3583C1087.25 7.80313 1050.43 -11.1171 1023.96 7.8346L17.4265 728.477Z' fill='%231F1300'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  z-index: 20;
  position: absolute;
  inset: 0;
  opacity: 0.1;
  background-position: top 5rem right -2rem;
  background-size: 90%;
}
@media (min-width: 768px) {
  .section-crafters-tv-feature::before {
    background-size: 80%;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature::before {
    background-position: right center;
  }
}
.section-crafters-tv-feature .container {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature .container {
    gap: 4rem;
  }
}
.section-crafters-tv-feature .wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-areas: "image" "content";
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-crafters-tv-feature .wrapper {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature .wrapper {
    grid-template-columns: 1fr 50%;
    grid-template-areas: "content image";
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .section-crafters-tv-feature .wrapper {
    gap: 6vw;
  }
}
.section-crafters-tv-feature .wrapper .content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .section-crafters-tv-feature .wrapper .content {
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-crafters-tv-feature .wrapper .content {
    max-width: 72vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature .wrapper .content {
    padding-top: 2rem;
  }
}
@media (min-width: 1600px) {
  .section-crafters-tv-feature .wrapper .content {
    padding-top: 3.5rem;
  }
}
.section-crafters-tv-feature .wrapper .content .crafters-tv-logo {
  height: 4.5rem;
  width: auto;
  object-fit: contain;
  object-position: left center;
  display: block;
  margin-bottom: 2.5rem;
}
.section-crafters-tv-feature .wrapper .content .actions {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  justify-items: start;
}
@media (max-width: 767.98px) {
  .section-crafters-tv-feature .wrapper .content .actions a {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .section-crafters-tv-feature .wrapper .content .actions a .arrow {
    display: none;
  }
}
.section-crafters-tv-feature .wrapper .image {
  grid-area: image;
}
.section-crafters-tv-feature .wrapper .image img {
  height: auto;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}
.section-crafters-tv-feature hr {
  border: 0;
  background-color: var(--colour-sugar-cane);
  height: 1px;
  opacity: 0.24;
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature hr {
    display: none;
  }
}
{% endstylesheet %}

{% schema %}
{
  "name": "Crafter's TV Feature",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Minimum width: 800px and 3/2 aspect ratio."
    },
    {
      "type": "image_picker",
      "id": "crafters_logo",
      "label": "Crafters TV Logo"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Links - Watch live"
    },
    {
      "type": "url",
      "id": "live_link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "live_link_text",
      "label": "Link Text"
    },
    {
      "type": "header",
      "content": "Links - Schedule"
    },
    {
      "type": "url",
      "id": "schedule_link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "schedule_link_text",
      "label": "Link Text"
    },
    {
      "type": "header",
      "content": "Featured Products"
    },
    {
      "type": "textarea",
      "id": "fp_heading",
      "label": "Heading"
    },
    {
      "type": "url",
      "id": "fp_link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "fp_link_text",
      "label": "Link Text"
    },
    {
      "type": "product_list",
      "id": "fp_product_list",
      "label": "Product List",
      "info": "Please select 6 products",
      "limit": 6
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "edge-01"
    },
    {
      "type": "select",
      "id": "top_edge_colour",
      "label": "Top edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "bottom_edge_colour",
      "label": "Bottom edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Crafter's TV Feature",
      "category": "Content"
    }
  ]
}
{% endschema %}
