{%- liquid
  assign template_name = 'section-crafters-tv-how-to-watch'
%}


<div
  class="{{- template_name }} u-space-below-lg"
  data-section-type="{{- template_name -}}"
  data-section-id="{{ section.id }}"
>
  <div class="container">
    <div class="content">
      <h2 class="u-heading-xs">{{ section.settings.heading }}</h2>
      {{ section.settings.text }}
    </div>
    <ul class="how-to-watch">
      {% for block in section.blocks %}
        {% liquid
          assign logo = block.settings.logo
        %}
        <li>
          <img class="wireframe" src="{{ block.settings.graphic_type | append: '.svg' | asset_url }}" alt="{{ block.settings.logo.alt }}" loading="lazy">
          <div class="watch-content">
            {% if logo != blank %}
              {{- logo | image_url: width: block.settings.logo_width | image_tag: alt: block.settings.icon.alt, loading: 'lazy' -}}
            {% endif %}
            <div class="u-heading-xs">{{ block.settings.heading }}</div>
            <p>{{ block.settings.text }}</p>
            <a
              href="{{ block.settings.link_url }}"
              class="c-btn main"
              {% if block.settings.colour != null %}
                style="background-color: {{ block.settings.colour }}; color: var(--colour-sugar-cane)"
              {% endif %}
            >
              {{- block.settings.link_text -}}
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% stylesheet %}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-crafters-tv-how-to-watch .container {
    max-width: var(--content-tablet-width);
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-how-to-watch .container {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 5rem;
    align-items: start;
  }
}
.section-crafters-tv-how-to-watch .content {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 1024px) {
  .section-crafters-tv-how-to-watch .content {
    padding-top: 2rem;
    background-color: var(--colour-sugar-cane);
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .section-crafters-tv-how-to-watch .content {
    position: -webkit-sticky;
    position: sticky;
    top: 14rem;
  }
}
.section-crafters-tv-how-to-watch ul.how-to-watch {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
}
.section-crafters-tv-how-to-watch ul.how-to-watch li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--colour-emperor);
  border-radius: 1rem;
  padding: 1.5rem;
}
@media (min-width: 1024px) {
  .section-crafters-tv-how-to-watch ul.how-to-watch li {
    padding: 2.5rem;
    flex-direction: row-reverse;
  }
}
.section-crafters-tv-how-to-watch ul.how-to-watch li img.wireframe {
  position: relative;
}
@media (min-width: 1024px) {
  .section-crafters-tv-how-to-watch ul.how-to-watch li img.wireframe {
    position: absolute;
    width: 19.25rem;
    right: -4.25rem;
  }
}
@media (max-width: 1023.98px) {
  .section-crafters-tv-how-to-watch ul.how-to-watch li img.wireframe {
    left: -0.75rem;
    margin-bottom: 2rem;
  }
}
.section-crafters-tv-how-to-watch ul.how-to-watch li .watch-content {
  text-align: left;
}
.section-crafters-tv-how-to-watch ul.how-to-watch li .watch-content img {
  margin-bottom: 1.5rem;
}
@media (min-width: 1024px) {
  .section-crafters-tv-how-to-watch ul.how-to-watch li .watch-content {
    padding-right: 15rem;
  }
  .section-crafters-tv-how-to-watch ul.how-to-watch li .watch-content img {
    margin-bottom: 2.5rem;
  }
}
{% endstylesheet %}

{% schema %}
{
  "name": "CTV How To Watch",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "CTV How To Watch Item",
      "settings": [
        {
          "type": "select",
          "id": "graphic_type",
          "label": "Graphic Type",
          "options": [
            {
              "value": "facebook-wireframe",
              "label": "Facebook Wireframe"
            },
            {
              "value": "crafters-wireframe",
              "label": "Crafters Wireframe"
            },
            {
              "value": "youtube-wireframe",
              "label": "Youtube Wireframe"
            }
          ],
          "default": "crafters-wireframe"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo Image",
          "info": "SVG is recommended for site performance. Alternatively, upload a PNG with transparent background."
        },
        {
          "type": "text",
          "id": "logo_width",
          "label": "Logo Width in px",
          "default": "192"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        },
        {
          "type": "color",
          "id": "colour",
          "label": "Button Colour"
        }
      ]
    }
  ]
}
{% endschema %}
