{% liquid
  assign template_name = 'section-customer-reset-password'

  assign image = settings.customer_reset_image
%}

<div class="{{- template_name }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="image">
    <a href="{{- shop.url -}}" aria-label="Go to Crafter's Companion homepage">
      <img src="{{- 'logo-main-tertiary.svg' | asset_url -}}" class="logo">
    </a>
    <picture class="background">
      <source media="(min-width:1500px)" srcset="{{- image | image_url: width: 1920 -}}">
      <source media="(min-width:1100px)" srcset="{{- image | image_url: width: 1500 -}}">
      <source media="(min-width:800px)" srcset="{{- image | image_url: width: 1024 -}}">
      <source media="(min-width:551px)" srcset="{{- image | image_url: width: 800 -}}">
      <source media="(max-width: 550.8px)" srcset="{{- image | image_url: width: 600 -}}">
      <img src="{{- image | image_url: height: 512 -}}" alt="{{- image.alt | default: _heading -}}" height="412" width="390" loading="eager"/>
    </picture>
    {%- render 'paper-edge', _edge_version: 'edge-01', _bottom_edge_colour: 'white' -%}
    {%- render 'paper-edge-vertical' -%}
  </div>
  <div class="wrapper">
    <div class="content">
      <a href="{{ shop.url }}" class="c-btn alt primary continue" data-continue-shopping>
        {%- render 'icon', _name: 'icon-arrow-left' -%}
        {{- 'template.customers.login.continue_shopping' | t -}}
      </a>
      <h1 class="u-heading-sm heading" id="page-title">{{- 'template.customers.reset_password.heading' | t -}}</h1>

      {%- form 'reset_customer_password', class: 'c-form add-spacing', id: 'reset-password-form', aria-label: 'Reset Password form', return_to: routes.account_url -%}
        {{- form.errors | default_errors | replace: 'class="c-alert error" role="alert"' -}}

        <div class="form-field">
          <label class="form-label" for="password">{{- 'forms.password_label' | t -}}</label>
          <input class="form-input{% if show_errors == true and form.errors contains 'password' %} form-input--error{% endif %}" id="password" name="customer[password]" placeholder="{{- 'forms.password_placeholder' | t -}}" type="password">
        </div>

        <div class="form-field">
          <label class="form-label" for="password-confirm">{{- 'forms.password_confirm_label' | t -}}</label>
          <input class="form-input{% if show_errors == true and form.errors contains 'password_confirmation' %} form-input--error{% endif %}" id="password-confirm" name="customer[password_confirmation]" placeholder="{{- 'forms.password_confirm_placeholder' | t -}}" type="password">
        </div>
        <div class="form-field main-action">
          <button class="c-btn main quaternary" type="submit">
            {{- 'template.customers.reset_password.reset_submit_text' | t -}}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% stylesheet %}
.section-customer-reset-password {
  display: grid;
  position: relative;
}
@media (min-width: 1024px) {
  .section-customer-reset-password {
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
}
.section-customer-reset-password .image {
  position: relative;
}
@media (max-width: 1023.98px) {
  .section-customer-reset-password .image {
    height: 200px;
  }
}
.section-customer-reset-password .image::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: var(--colour-royal-purple);
  opacity: 0.8;
  z-index: 5;
}
.section-customer-reset-password .image .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5rem;
  width: 9.5rem;
  object-fit: contain;
  z-index: 20;
}
@media (max-width: 1023.98px) {
  .section-customer-reset-password .image .logo {
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1024px) {
  .section-customer-reset-password .image .logo {
    top: 2.5rem;
    left: 2.5rem;
  }
}
.section-customer-reset-password .image .background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.section-customer-reset-password .image .background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-customer-reset-password .image .paper-edge-vertical {
  display: none;
  position: absolute;
  top: 0;
  right: -1px;
  height: 100%;
  width: auto;
  z-index: 20;
}
@media (min-width: 1024px) {
  .section-customer-reset-password .image .paper-edge-vertical {
    display: block;
  }
}
@media (min-width: 1024px) {
  .section-customer-reset-password .image .c-paper-edge {
    display: none;
  }
}
.section-customer-reset-password .wrapper {
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .section-customer-reset-password .wrapper {
    padding: 2.5rem;
  }
}
.section-customer-reset-password .wrapper a.continue {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .section-customer-reset-password .wrapper a.continue {
    margin-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .section-customer-reset-password .wrapper a.continue {
    margin-bottom: 6rem;
  }
}
.section-customer-reset-password .content {
  --content-max-width: 25rem;
  width: 100%;
  max-width: var(--content-max-width);
}
@media (max-width: 1023.98px) {
  .section-customer-reset-password .content {
    text-align: center;
  }
}
@media (max-width: 1023.98px) {
  .section-customer-reset-password .content .heading {
    margin-left: auto;
    margin-right: auto;
  }
}
.section-customer-reset-password .content .form-input {
  --max-width: var(--content-max-width);
}
.section-customer-reset-password .content .main-action {
  margin: 0;
  align-items: center;
}
@media (max-width: 1023.98px) {
  .section-customer-reset-password .content .main-action {
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .section-customer-reset-password .content .main-action {
    flex-direction: row;
    gap: 2rem;
  }
}
.section-customer-reset-password .content .main-action .submit {
  justify-content: center;
}
@media (max-width: 1023.98px) {
  .section-customer-reset-password .content .main-action .submit {
    width: 17.5rem;
  }
}
@media (min-width: 1024px) {
  .section-customer-reset-password .content .main-action .submit {
    flex-grow: 1;
    max-width: 15rem;
  }
}
{% endstylesheet %}

{% schema %}
{
  "name": "Customer - Reset Password",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
  ]
}
{% endschema %}
