{% liquid
  assign template_name = 'section-customer-addresses'
  assign title = 'template.customers.account.welcome' | t: name: customer.first_name
%}

{{- 'section-customer.css' | asset_url | stylesheet_tag -}}
{{- 'shopify_common.js' | shopify_asset_url | script_tag -}}

<div class="section-customer {{ template_name -}}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="container">
    {%- render 'customer-header', _title: 'Addresses' -%}
    {%- render 'customer-aside', customer: customer, _account_link: true -%}
    <div class="content">
      {%- for address in customer.addresses -%}
        <div class="main-address">
          {%- if address == customer.default_address -%}
            <p class="u-text-lg">{{ 'forms.default_address_heading' | t }}</p>
          {%- endif -%}
          <address>
            {{- address | format_address | remove: '<p>' | remove: '</p>' -}}
          </address>
          <div class="actions">
            <button class="c-btn main quinary" type="button" data-address-toggle="{{ address.id }}">{{ 'forms.edit_address' | t }}</button>
            <button class="c-btn alt" type="button" data-address-delete="{{ address.id }}" data-confirm-message="">{{ 'forms.delete_address' | t }}</button>
          </div>
        </div>
        {%- form 'customer_address', address, class: 'c-form add-spacing', aria-label: 'Edit Address form', data-address-form: address.id -%}
          <div
            data-address-form-content
            {% unless form.errors %}
              hidden
            {% endunless %}
          >
            <h2 class="u-text-lg form-heading">{{ 'forms.edit_address' | t }}</h2>
            {{- form.errors | default_errors | replace: 'class="c-alert error" role="alert"' -}}
            <div class="form-fields" data-address-form-fields>
              {% render 'customer-address-inputs', _form_id: form.id %}
            </div>
            <div class="form-field has-checkbox">
              <label class="form-label">
                {{ form.set_as_default_checkbox }}
                <span>{{ 'forms.default_address' | t }}</span>
              </label>
            </div>
            <div class="form-actions">
              <button class="c-btn main quaternary" type="submit">{{ 'forms.save' | t }}</button>
              <button class="c-btn alt" type="button" data-address-toggle="{{- address.id -}}">{{ 'forms.cancel' | t }}</button>
            </div>
          </div>
        {%- endform -%}
      {%- endfor -%}
      <hr class="whisper">
      <button class="c-btn main quinary add-new" type="button" data-address-toggle="new">{{ 'forms.add_new_address' | t }}</button>
      {%- form 'customer_address', customer.new_address, aria-label: 'New Address form', class: 'c-form add-spacing', data-address-form: 'new' -%}
        <div
          data-address-form-content
          {% unless form.errors %}
            hidden
          {% endunless %}
        >
          <h2 class="u-text-lg form-heading">{{ 'forms.new_address' | t }}</h2>
          {{- form.errors | default_errors | replace: 'class="c-alert error" role="alert"' -}}
          <div data-address-form-fields>
            {% render 'customer-address-inputs', _form_id: 'new' %}
          </div>
          <div class="form-field has-checkbox">
            <label class="form-label">
              {{ form.set_as_default_checkbox }}
              <span>{{ 'forms.default_address' | t }}</span>
            </label>
          </div>
          <div class="form-actions">
            <button class="c-btn main quinary" type="submit">{{ 'forms.save' | t }}</button>
            <button class="c-btn alt" type="button" data-address-toggle="new">{{ 'forms.cancel' | t }}</button>
          </div>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% stylesheet %}
.section-customer-addresses .content {
  gap: 0;
}
.section-customer-addresses .main-address:not(:first-of-type) {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid var(--colour-whisper);
}
.section-customer-addresses .actions {
  margin-top: 1.5rem;
}
.section-customer-addresses .actions,
.section-customer-addresses .form-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.section-customer-addresses [data-address-form-content] {
  margin-top: 1.5rem;
}
.section-customer-addresses hr {
  margin: 1.5rem 0;
}
@media (min-width: 768px) {
  .section-customer-addresses hr {
    margin: 2.5rem 0;
  }
}
.section-customer-addresses .form-heading {
  margin-bottom: 1.5rem;
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";var e=["DA","DE","EN","ES","FR","IT","JA","NL","PT","PT_BR"];function t(t){var n=t.replace(/-/,"_").toUpperCase();return-1!==e.indexOf(n)?n:-1!==e.indexOf(n.substring(0,2))?n.substring(0,2):"EN"}var n=/({\w+})/g,r={lastName:'[name="address[last_name]"]',firstName:'[name="address[first_name]"]',company:'[name="address[company]"]',address1:'[name="address[address1]"]',address2:'[name="address[address2]"]',country:'[name="address[country]"]',zone:'[name="address[province]"]',postalCode:'[name="address[zip]"]',city:'[name="address[city]"]',phone:'[name="address[phone]"]'};function a(e,t,r,a){var o=function(e,t){return e=e||"CA",t.filter((function(t){return t.code===e}))[0]}(r,a);!function(e,t){Object.keys(e).forEach((function(n){e[n].labels.forEach((function(e){e.textContent=t.labels[n]}))}))}(t,o),function(e,t,r){var a,o=r.formatting.edit,s=t.country.wrapper,i=!1;(a=o,a.split("_").map((function(e){var t=e.match(n);return t?t.map((function(e){var t=e.replace(/[{}]/g,"");switch(t){case"zip":return"postalCode";case"province":return"zone";default:return t}})):[]}))).forEach((function(n){n.forEach((function(r){t[r].wrapper.dataset.lineCount=n.length,t[r].wrapper&&("country"!==r?i?e.append(t[r].wrapper):e.insertBefore(t[r].wrapper,s):i=!0)}))}))}(e,t,o),function(e,t){var n=e.zone;if(n){if(0===t.zones.length)return n.wrapper.dataset.ariaHidden="true",void(n.input.innerHTML="");n.wrapper.dataset.ariaHidden="false";var r=n.input,a=r.cloneNode(!0);a.innerHTML="",t.zones.forEach((function(e){var t=document.createElement("option");t.value=e.code,t.textContent=e.name,a.appendChild(t)})),r.innerHTML=a.innerHTML,r.dataset.default&&(r.value=r.dataset.default)}}(t,o)}const o="[data-address-form-content]";var s;s={name:"section-customer-addresses",events:{async onLoad(){this.initAddresses()},initAddresses(){let e=[...document.querySelectorAll("[data-address-form]")],n=[...document.querySelectorAll(o)],s=[...document.querySelectorAll("[data-address-toggle]")],i=[...document.querySelectorAll("[data-address-delete]")];e.forEach((e=>{let n=e.querySelector("[data-address-form-fields]"),o=e.querySelector('[name="address[country]"]'),s=e.querySelector('[name="address[province]"]'),i=e.querySelector('[name="address[zip]"]');(function(e,n,o){n=n||"en";var s,i=function(e,t){var n={};return Object.keys(r).forEach((function(r){var a=e.querySelector(t[r]);n[r]=a?{wrapper:a.parentElement,input:a,labels:document.querySelectorAll('[for="'+a.id+'"]')}:{}})),n}(e,function(){for(var e=Object({}),t=0;t<arguments.length;t++){var n=arguments[t];if(n)for(var r in n)Object.prototype.hasOwnProperty.call(n,r)&&(e[r]=n[r])}return e}(r,(o=o||{inputSelectors:{}}).inputSelectors));return function(e){Object.keys(e).forEach((function(t){var n=e[t].input,r=e[t].labels;if(n){if("object"!=typeof n)throw new TypeError(e[t]+" is missing an input or select.");if("object"!=typeof r)throw new TypeError(e[t]+" is missing a label.")}}))}(i),(s=o.shippingCountriesOnly,s?fetch(location.origin+"/meta.json").then((function(e){return e.json()})).then((function(e){return-1!==e.ships_to_countries.indexOf("*")?null:e.ships_to_countries})).catch((function(){return null})):Promise.resolve(null)).then((function(r){return function(e){return fetch("https://country-service.shopifycloud.com/graphql",{method:"POST",headers:{"Content-Type":"application/json","Access-Control-Allow-Origin":"*"},body:JSON.stringify({query:"query countries($locale: SupportedLocale!) {  countries(locale: $locale) {    name    code    labels {      address1      address2      city      company      country      firstName      lastName      phone      postalCode      zone    }    formatting {      edit    }    zones {      name      code    }  }}",operationName:"countries",variables:{locale:t(e)}})}).then((function(e){return e.json()})).then((function(e){return e.data.countries}))}(n).then((function(t){!function(e,t,n){!function(e,t){var n=e.country.input,r=n.cloneNode(!0);t.forEach((function(e){var t=document.createElement("option");t.value=e.code,t.textContent=e.name,r.appendChild(t)})),n.innerHTML=r.innerHTML,n.dataset.default&&(n.value=n.dataset.default)}(t,n);var r=t.country.input?t.country.input.value:null;(function(e,t,n){t.country.input.addEventListener("change",(function(r){a(e,t,r.target.value,n)}))})(e,t,n),a(e,t,r,n)}(e,i,function(e,t){return t?e.filter((function(e){return-1!==t.indexOf(e.code)})):e}(t,r))}))}))})(n,"en").then((t=>{if(o&&o.dataset.default){let e=[...o.options].filter((e=>e.textContent===o.dataset.default))[0];e&&(o.value=e.value,o.dispatchEvent(new Event("change")))}if(s&&s.dataset.default){let e=[...s.options].filter((e=>e.textContent===s.dataset.default))[0];e&&(s.value=e.value,s.dispatchEvent(new Event("change")))}i&&(e.querySelector(`[for="${i.id}"]`).innerText=i.placeholder)}))})),s.forEach((t=>{t.addEventListener("click",(()=>{let r=e.filter((e=>e.dataset.addressForm===t.dataset.addressToggle))[0];if(r){let e=r.querySelector(o);e&&(e.hasAttribute("hidden")?(n.forEach((e=>e.setAttribute("hidden",!0))),e.removeAttribute("hidden")):e.setAttribute("hidden",!0))}}))})),i.forEach((e=>{e.addEventListener("click",(t=>{let n=e.dataset.addressDelete,r=e.dataset.confirmMessage||"Are you sure you want to delete this address?";e.setAttribute("disabled",!0),window.confirm(r)?Shopify.postLink("/account/addresses/"+n,{parameters:{_method:"delete"}}):e.removeAttribute("disabled")}))}))}}},theme.sections.push(s)})();
{% endjavascript %}

