{% liquid
  assign template_name = 'section-customer-reset-password'

  assign image = settings.customer_reset_image
%}

{{- 'section-customer-reset-password.css' | asset_url | stylesheet_tag -}}
<div class="{{- template_name }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="image">
    <a href="{{- shop.url -}}" aria-label="Go to Crafter's Companion homepage">
      <img src="{{- 'logo-main-tertiary.svg' | asset_url -}}" class="logo">
    </a>
    <picture class="background">
      <source media="(min-width:1500px)" srcset="{{- image | image_url: width: 1920 -}}">
      <source media="(min-width:1100px)" srcset="{{- image | image_url: width: 1500 -}}">
      <source media="(min-width:800px)" srcset="{{- image | image_url: width: 1024 -}}">
      <source media="(min-width:551px)" srcset="{{- image | image_url: width: 800 -}}">
      <source media="(max-width: 550.8px)" srcset="{{- image | image_url: width: 600 -}}">
      <img src="{{- image | image_url: height: 512 -}}" alt="{{- image.alt | default: _heading -}}" height="412" width="390" loading="eager"/>
    </picture>
    {%- render 'paper-edge', _edge_version: 'edge-01', _bottom_edge_colour: 'white' -%}
    {%- render 'paper-edge-vertical' -%}
  </div>
  <div class="wrapper">
    <div class="content">
      <a href="{{ shop.url }}" class="c-btn alt primary continue" data-continue-shopping>
        {%- render 'icon', _name: 'icon-arrow-left' -%}
        {{- 'template.customers.login.continue_shopping' | t -}}
      </a>
      <h1 class="u-heading-sm heading" id="page-title">{{- 'template.customers.reset_password.heading' | t -}}</h1>

      {%- form 'reset_customer_password', class: 'c-form add-spacing', id: 'reset-password-form', aria-label: 'Reset Password form', return_to: routes.account_url -%}
        {{- form.errors | default_errors | replace: 'class="c-alert error" role="alert"' -}}

        <div class="form-field">
          <label class="form-label" for="password">{{- 'forms.password_label' | t -}}</label>
          <input class="form-input{% if show_errors == true and form.errors contains 'password' %} form-input--error{% endif %}" id="password" name="customer[password]" placeholder="{{- 'forms.password_placeholder' | t -}}" type="password">
        </div>

        <div class="form-field">
          <label class="form-label" for="password-confirm">{{- 'forms.password_confirm_label' | t -}}</label>
          <input class="form-input{% if show_errors == true and form.errors contains 'password_confirmation' %} form-input--error{% endif %}" id="password-confirm" name="customer[password_confirmation]" placeholder="{{- 'forms.password_confirm_placeholder' | t -}}" type="password">
        </div>
        <div class="form-field main-action">
          <button class="c-btn main quaternary" type="submit">
            {{- 'template.customers.reset_password.reset_submit_text' | t -}}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer - Reset Password",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
  ]
}
{% endschema %}
