{% liquid
  assign template_name = 'section-downloads'

  assign grid_layout = section.settings.grid_layout
  assign downloads = section.blocks | map: 'settings'
  assign margin_bottom = section.settings.margin_bottom
%}


<div class="{{- template_name }}{% if grid_layout %} grid-layout{% endif %} u-space-below-{{- margin_bottom }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="wrapper">
      {% if grid_layout %}
        <div class="grid">
          {% for download in downloads %}
            {% liquid
              assign image = download.image
              assign file = download.file
              assign file_name = download.file_name
            %}
            <div class="download">
              {%- if image != blank -%}
                {{- image | image_url: width: 280 | image_tag: alt: image.alt, loading: 'lazy' -}}
              {%- endif -%}
              <div class="content">
                <a class="c-btn alt primary" href="{{ file }}" target="_blank" download="{{ file_name }}">
                  <span>{{ file_name }}</span>
                  {%- render 'icon', _name: 'icon-arrow-down' -%}
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="list">
          {% for download in downloads %}
            {% liquid
              assign image = download.image
              assign file = download.file
              assign file_name = download.file_name
              assign text = download.text
              assign download_text = download.download_text
            %}
            <div class="download">
              {%- if image != blank -%}
                {{- image | image_url: width: 280 | image_tag: alt: image.alt, loading: 'lazy' -}}
              {%- endif -%}
              <div class="content">
                <span class="file-name">{{ file_name }}</span>
                {{ text }}
                <a class="c-btn alt primary" href="{{ file }}" target="_blank" download="{{ file_name }}">
                  {{ download_text }}
                  {%- render 'icon', _name: 'icon-arrow-down' -%}
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% stylesheet %}
.section-downloads {
  position: relative;
}
.section-downloads .container {
  display: flex;
  justify-content: center;
}
.section-downloads .container .wrapper {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .section-downloads .container .wrapper {
    max-width: 792px;
  }
}
.section-downloads .container .wrapper .download img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.section-downloads .container .wrapper .download .file-name {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1.25rem;
}
.section-downloads .container .wrapper .download p {
  margin-bottom: 1rem;
}
.section-downloads .container .wrapper .download .download-link {
  text-decoration: none;
  color: var(--colour-black);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-downloads .container .wrapper .download svg {
  width: 0.5rem;
  height: 1rem;
  flex-shrink: 0;
}
.section-downloads .container .wrapper .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .section-downloads .container .wrapper .grid {
    gap: 4rem;
  }
}
.section-downloads .container .wrapper .grid .download {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 40%;
}
@media (min-width: 768px) {
  .section-downloads .container .wrapper .grid .download {
    flex-basis: 24%;
  }
}
.section-downloads .container .wrapper .list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.section-downloads .container .wrapper .list .download {
  display: flex;
  gap: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--colour-whisper);
}
@media (max-width: 767.98px) {
  .section-downloads .container .wrapper .list .download {
    flex-direction: column;
  }
}
.section-downloads .container .wrapper .list .download .download-link {
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .section-downloads.grid-layout .container .wrapper {
    max-width: 1040px;
  }
}
{% endstylesheet %}

{% schema %}
{
  "name": "Downloads",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "grid_layout",
      "label": "Grid Layout?"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "type": "download_block",
      "name": "Download Block",
      "settings": [
        {
          "type": "url",
          "id": "file",
          "label": "File URL",
          "info": "Please supply the URL of the downloadable file, a Shopify CDN link works best"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Minimum width: 200px and 1/1 aspect ratio."
        },
        {
          "type": "text",
          "id": "file_name",
          "label": "File name"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Doesn't show in grid layout"
        },
        {
          "type": "text",
          "id": "download_text",
          "label": "Download Text Link",
          "info": "Doesn't show in grid layout"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Downloads",
      "category": "Content"
    }
  ]
}
{% endschema %}
