{%- liquid
  assign template_name = 'section-featured-promotions'

  assign margin_bottom = section.settings.margin_bottom
  assign heading_alignment = section.settings.heading_alignment
%}

{{- 'section-featured-promotions.css' | asset_url | stylesheet_tag -}}
{{- 'snippet-promotion-item.css' | asset_url | stylesheet_tag -}}

<div class="{{- template_name }} u-space-below-{{- margin_bottom }} overflow-hidden" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  {%- render 'paper-edge', _section: section -%}
  <div class="container">
    {%-
      render 'section-header',
      _heading: section.settings.heading,
      _image: section.settings.image,
      _heading_alignment: heading_alignment
    -%}
  </div>
  {% render 'featured-promotions-blocks', _section_blocks: section.blocks %}
</div>

{% schema %}
{
  "name": "Featured Promotions",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "heading_alignment",
      "label": "Align header text to the centre",
      "default": false
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "top_edge_colour",
      "label": "Top edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "bottom_edge_colour",
      "label": "Bottom edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "background_colour",
      "label": "Background colour",
      "info": "This can only be applied if a edge version is selected",
      "options": [
        {
          "value": "black-squeeze",
          "label": "Green"
        },
        {
          "value": "pippin",
          "label": "Pink"
        },
        {
          "value": "whisper",
          "label": "Purple"
        }
      ],
      "default": "whisper"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotion",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        },
        {
          "type": "select",
          "id": "page_type",
          "label": "Select page type",
          "options": [
            {
              "value": "type_collection",
              "label": "Collection"
            },
            {
              "value": "type_product",
              "label": "Product"
            },
            {
              "value": "type_page",
              "label": "Page"
            }
          ],
          "default": "type_collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "This will override the default image. Minimum width 512px with aspect ratio 5/4."
        },
        {
          "type": "text",
          "id": "text",
          "label": "Promotion text"
        },
        {
          "type": "richtext",
          "id": "terms",
          "label": "Promotion terms",
          "info": "Add each term on a new line."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Promotions",
      "category": "Content"
    }
  ]
}
{% endschema %}
