{%- liquid
  assign template_name = 'section-featured-articles'

  assign margin_bottom = section.settings.margin_bottom
%}

{{- 'section-featured-articles.css' | asset_url | stylesheet_tag -}}
{{- 'snippet-article-item.css' | asset_url | stylesheet_tag -}}
<script src="{{- 'section-featured-articles.js' | asset_url -}}"></script>

<div class="{{- template_name }} u-space-below-{{- margin_bottom }} overflow-hidden" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  {%-
    render 'paper-edge',
    _section: section
  -%}
  <div class="container">
    {%-
      render 'section-header',
      _image: section.settings.image,
      _heading: section.settings.heading
      _text: section.settings.text
      _offset: true,
      _heading_class: 'u-heading-xs',
      _link_url: section.settings.link_url
      _link_text: section.settings.link_text
      _loading: 'lazy'
    -%}
    <div class="swiper-container" data-fa-slider>
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            {%-
              render 'article-item',
              _article: block.settings.article
            -%}
          </div>
        {%- endfor -%}
      </div>
      <div class="swiper-nav">
        <button class=" c-btn swiper-button prev" aria-label="Previous" data-fa-prev>
          {%- render 'icon', _name: 'icon-arrow-left' -%}
        </button>
        <button class="c-btn swiper-button next" aria-label="Next" data-fa-next>
          {%- render 'icon', _name: 'icon-arrow-right' -%}
        </button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Articles",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "top_edge_colour",
      "label": "Top edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "bottom_edge_colour",
      "label": "Bottom edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "background_colour",
      "label": "Background colour",
      "info": "This can only be applied if a edge version is selected",
      "options": [
        {
          "value": "black-squeeze",
          "label": "Green"
        },
        {
          "value": "pippin",
          "label": "Pink"
        },
        {
          "value": "whisper",
          "label": "Purple"
        }
      ],
      "default": "whisper"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Articles",
      "category": "Content"
    }
  ]
}
{% endschema %}
