{% liquid
  assign template_name = 'section-image-grid'

  assign heading = section.settings.heading
  assign text = section.settings.text
  assign blocks = section.blocks | map: 'settings'
  assign link_text = section.settings.link_text
  assign link_url = section.settings.link_url

  assign margin_bottom = section.settings.margin_bottom
%}

{{- 'section-image-grid.css' | asset_url | stylesheet_tag -}}

<div class="{{- template_name }} u-space-below-{{- margin_bottom }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  {%-
    render 'paper-edge',
    _section: section
  -%}
  <div class="container">
    <div class="wrapper">
      {% if heading != blank or text != blank %}
        <div class="content">
          {% if heading != blank %}
            <h2 class="u-heading-sm">{{ heading }}</h2>
          {% endif %}
          {{ text }}
        </div>
      {% endif %}
      {% if blocks.size > 0 %}
        <div class="image-grid">
          {% for block in blocks %}
            <picture>
              <source media="(min-width:551px)" srcset="{{- block.image | image_url: width: 400 -}}">
              <source media="(max-width: 550.8px)" srcset="{{- block.image | image_url: width: 300 -}}">
              <img src="{{- block.image | image_url: width: 300 -}}" alt="{{- block.image.alt | default: heading -}}" height="300" width="300" loading="lazy">
            </picture>
          {% endfor %}
        </div>
      {% endif %}
      {% if link_url != blank and link_text != blank %}
        <div class="content">
          <a class="c-btn main tertiary" href="{{ link_url }}">{{ link_text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Grid",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "top_edge_colour",
      "label": "Top edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "bottom_edge_colour",
      "label": "Bottom edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "background_colour",
      "label": "Background colour",
      "info": "This can only be applied if a edge version is selected",
      "options": [
        {
          "value": "black-squeeze",
          "label": "Green"
        },
        {
          "value": "pippin",
          "label": "Pink"
        },
        {
          "value": "whisper",
          "label": "Purple"
        }
      ],
      "default": "whisper"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Grid",
      "category": "Content"
    }
  ]
}
{% endschema %}
