{% liquid
  assign template_name = 'section-inspiration'
  assign edge_version = section.settings.edge_version
  assign background_colour = section.settings.background_colour
  assign margin_bottom = section.settings.margin_bottom
  assign link_url = section.settings.link_url
  assign blogs_tag = section.settings.blogs_tag
%}


<div
  class="{{- template_name }} u-space-below-{{- margin_bottom }} overflow-hidden"
  data-section-type="{{- template_name -}}"
  data-section-id="{{ section.id }}"
>
  {%- unless edge_version == 'none' -%}
    {%- render 'paper-edge', _section: section -%}
  {%- endunless -%}
  <div class="container">
    <div class="content u-content-offset">
      <div class="heading">
        <h2 class="u-heading-md">{{ section.settings.title | replace: '<strong>', '<strong><span>' | replace: '</strong>', '</span></strong>' }}</h2>
        <p class="text-md">{{ section.settings.description }}</p>
        {% if link_url %}
          <a href="{{ link_url }}" class="c-btn main primary">{{ section.settings.link_text }}</a>
        {% endif %}
      </div>

      <div class="blogs">
        {%- render 'icon', _name: 'icon-scissors', _class: 'scissors' -%}
        <h3 class="u-heading-xs heading">{{ section.settings.blogs_title }}</h3>

        <div
          class="swiper-container"
          data-slider="blogs"
          data-autoplay="{{ section.settings.autoplay_blogs }}"
          data-slides-visible="1.2/2.2/1.2"
        >
          <div class="swiper-wrapper">
            {% liquid
              for link in linklists[section.settings.blog_menu].links
                assign blog = link.object
                if blog.articles
                  assign featured_articles = featured_articles | concat: blog.articles
                endif
              endfor
              assign featured_articles = featured_articles | sort: 'published_at' | reverse
            %}
            {% if blogs_tag.size > 0 %}
              {%- for article in featured_articles limit: section.settings.blog_limit -%}
                {% if article.tags contains blogs_tag %}
                  <div class="swiper-slide">
                    {%- render 'article-card', article: article, _show_image: true -%}
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
              {%- for article in featured_articles limit: section.settings.blog_limit -%}
                <div class="swiper-slide">
                  {%- render 'article-card', article: article, _show_image: true -%}
                </div>
              {%- endfor -%}
            {% endif %}
          </div>
          <div class="swiper-nav">
            <div class="swiper-button c-btn" data-prev>
              <span class="sr-only">{{ 'components.slider_labels.previous_slide' | t | escape }}</span>
              {%- render 'icon', _name: 'icon-arrow-left' -%}
            </div>
            <div class="swiper-button c-btn" data-next>
              <span class="sr-only">{{ 'components.slider_labels.next_slide' | t | escape }}</span>
              {%- render 'icon', _name: 'icon-arrow-right' -%}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel">
      {% liquid
        if section.blocks.size > 10
          assign col_limit = 6
        elsif section.blocks.size > 7
          assign col_limit = 4
        else
          assign col_limit = 12
        endif
        assign autoplay_inspiration = section.settings.autoplay_inspiration
      %}
      {% render 'carousel', _autoplay_inspiration: autoplay_inspiration, _media_blocks: section.blocks, _col_limit: col_limit, _fallback_link: link_url %}
      {% if section.blocks.size > 7 %}
        {% render 'carousel', _autoplay_inspiration: autoplay_inspiration, _media_blocks: section.blocks, _offset: col_limit, _fallback_link: link_url %}
      {% endif %}
    </div>
  </div>
</div>

{% stylesheet %}
.section-inspiration {
  position: relative;
}
@media (min-width: 1024px) {
  .section-inspiration {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
.section-inspiration .container {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1024px) {
  .section-inspiration .container {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .section-inspiration .container {
    gap: 6.5rem;
  }
}
.section-inspiration .container > .content {
  grid-column: 1;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-inspiration .container > .content {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1024px) {
  .section-inspiration .container > .content {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-inspiration .container > .content > .heading {
    max-width: var(--content-tablet-width);
    margin: 0 auto;
  }
}
.section-inspiration .container > .content .blogs {
  --blog-padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.32);
  border: 1px dashed var(--colour-royal-purple);
  padding: 1.5rem 0;
  margin-top: 3rem;
  border-radius: 16px;
  position: relative;
}
@media (max-width: 1023.98px) {
  .section-inspiration .container > .content .blogs {
    margin-top: 2.5rem;
  }
}
.section-inspiration .container > .content .blogs .scissors {
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 0;
  right: 3rem;
  transform: translateY(-50%);
}
.section-inspiration .container > .content .blogs .heading {
  margin-left: var(--blog-padding);
}
.section-inspiration .container > .content .blogs .swiper-container {
  position: relative;
  overflow: hidden;
  padding: 0 var(--blog-padding) 4rem;
}
.section-inspiration .container > .content .blogs .swiper-container .swiper-slide {
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.section-inspiration .container > .content .blogs .swiper-container .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.section-inspiration .container > .content .blogs .swiper-container .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.4;
}
.section-inspiration .container > .content .blogs .swiper-container .swiper-nav {
  position: absolute;
  right: var(--blog-padding);
  bottom: 0;
  display: flex;
  gap: 1.5rem;
}
@media (min-width: 1024px) {
  .section-inspiration .container > .content .blogs .swiper-container .swiper-nav {
    left: var(--blog-padding);
  }
}
.section-inspiration .container .carousel {
  grid-column: 2;
  display: flex;
  gap: 1rem;
}
@media (max-width: 1023.98px) {
  .section-inspiration .container .carousel {
    margin-bottom: 3rem;
    width: 100vw;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .section-inspiration .container .carousel {
    height: 1100px;
    overflow: hidden;
  }
}
@media (min-width: 1280px) {
  .section-inspiration .container .carousel {
    padding-right: 4rem;
  }
}
.section-inspiration .container .carousel .swiper-container {
  min-width: 0;
}
.section-inspiration .container .carousel .swiper-slide {
  display: flex;
}
@media (max-width: 1023.98px) {
  .section-inspiration .container .carousel .swiper-slide {
    width: 250px;
  }
}
@media (min-width: 1024px) {
  .section-inspiration .container .carousel .swiper-slide {
    height: 200px;
  }
}
.section-inspiration .container .carousel .swiper-wrapper {
  transition-timing-function: linear;
}
.section-inspiration .container .carousel .carousel-item {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  overflow: hidden;
  border-radius: var(--border-radius-sm);
}
@media (min-width: 768px) {
  .section-inspiration .container .carousel .carousel-item {
    aspect-ratio: 5/4;
  }
}
@media (min-width: 1024px) {
  .section-inspiration .container .carousel .carousel-item {
    height: 100%;
    width: auto;
    aspect-ratio: 3/2;
  }
}
.section-inspiration .container .carousel .carousel-item a {
  position: relative;
  z-index: 1;
}
.section-inspiration .container .carousel .carousel-item img,
.section-inspiration .container .carousel .carousel-item video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.section-inspiration .container .carousel .carousel-item video {
  position: relative;
  z-index: 1;
}
.section-inspiration .container .carousel .carousel-item .video-play {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 5;
  padding: 0;
  background-color: var(--colour-sugar-cane);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 0.25rem;
  display: grid;
  place-items: center;
}
.section-inspiration .container .carousel .carousel-item .video-play:focus {
  background-color: var(--colour-royal-purple);
}
.section-inspiration .container .carousel .carousel-item .video-play:focus svg {
  fill: var(--colour-white);
}
.section-inspiration .container .carousel .carousel-item .video-play svg {
  height: 0.75rem;
  width: 0.75rem;
  fill: var(--colour-emperor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.section-inspiration .container .carousel .carousel-item .video-play svg.play {
  opacity: 1;
}
.section-inspiration .container .carousel .carousel-item .video-play svg.pause {
  opacity: 0;
}
.section-inspiration .container .carousel .carousel-item .video-play.playing .play {
  opacity: 0;
}
.section-inspiration .container .carousel .carousel-item .video-play.playing .pause {
  opacity: 1;
}

.snippet-article-card .category {
  display: none;
  visibility: hidden;
}
.snippet-article-card .image {
  position: relative;
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  margin-bottom: 1.75rem;
}
.snippet-article-card .image img {
  width: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;
}
.snippet-article-card a {
  text-decoration: none;
  color: inherit;
}
.snippet-article-card a .title {
  font-weight: 600;
  line-height: 1.25;
  display: block;
  flex-grow: 1;
  margin-bottom: 1rem;
}
.snippet-article-card a p {
  margin-bottom: 0.5rem;
}
.snippet-article-card .date {
  font-size: 0.75rem;
  color: var(--colour-royal-purple);
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";const e="data-slides-visible",t="lg";var i,s;i="section-inspiration",s={onLoad(){this.initVideoControls(),this.activeSliders=[],this.initAllSliders(),this.addBreakpointEventListeners()},addBreakpointEventListeners(){window.addEventListener(`breakpoint-down:${t}`,this.resetSliders.bind(this)),window.addEventListener(`breakpoint-up:${t}`,this.resetSliders.bind(this))},initAllSliders(){this.sliders=this.container.querySelectorAll("[data-slider]"),this.sliders.forEach((e=>{this.initSlider(e)}))},initVideoControls(){this.container.querySelectorAll("[data-ci-video-control]").forEach((e=>{let t=e.parentNode.querySelector("video");e.addEventListener("click",(function(){t.paused?(t.play(),e.classList.add("playing")):(t.pause(),e.classList.remove("playing"))}))}))},initSlider(i){const s=i.querySelector("[data-pagination]"),r=i.querySelector("[data-next]"),n=i.querySelector("[data-prev]"),o=window.matchMedia(`(max-width: ${window.theme.breakpoints[t]}px)`),[a,d,l]=i.hasAttribute(e)?i.getAttribute(e).split("/"):["auto","auto","auto"];if(i){const e=i.getAttribute("data-autoplay");this.direction=!1===this.direction;var c=!1;"true"===e&&(c=!0),new window.theme.Swiper(i,{slidesPerView:l||d,spaceBetween:16,loop:!("true"!==i.getAttribute("data-loop")||!o),slidesOffsetBefore:this.direction?50:0,simulateTouch:!0,speed:c?8e3:500,breakpoints:{[theme.breakpoints.lg]:{slidesPerView:a,direction:"true"===i.getAttribute("data-vertical")?"vertical":"horizontal"},[theme.breakpoints.md]:{slidesPerView:d}},pagination:!!s&&{el:s,clickable:!0},navigation:!(!n||!r)&&{prevEl:n,nextEl:r}}),c=!1}},resetSliders(){this.activeSliders.forEach((e=>{e.destroy()})),this.initAllSliders()}},Shopify.theme.sections&&Shopify.theme.sections.register?(0===Shopify.theme.sections.getInstances(i).length&&Shopify.theme.sections.register(i,s),Shopify.theme.sections.load(i)):function(e,t){var i={name:e,events:t};theme.sections.push(i)}(i,s)})();
{% endjavascript %}

{% schema %}
{
  "name": "Inspiration",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "title",
      "type": "inline_richtext",
      "label": "Title",
      "default": "Looking for your next bit of inspiration?"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Description",
      "default": "<p>You've come to the right place! Take a look through our blog for our latest craft hints and tips, news, demonstration videos, launches and more.</p>"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "Link Text",
      "default": "See more"
    },
    {
      "id": "link_url",
      "type": "url",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Blogs"
    },
    {
      "id": "blogs_title",
      "type": "text",
      "label": "Featured Blogs Title",
      "default": "Latest Blogs"
    },
    {
      "type": "link_list",
      "id": "blog_menu",
      "label": "Blogs Menu",
      "info": "The menu is used to find all blogs."
    },
    {
      "id": "blogs_tag",
      "type": "text",
      "label": "Tag To Filter Blogs (optional)",
      "info": "If entered, blogs shown will be filtered on this tag rather than just showing most recent"
    },
    {
      "id": "blog_limit",
      "type": "number",
      "label": "Featured Blogs Limit",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "autoplay_blogs",
      "label": "Autoplay Blog Slider?",
      "default": false
    },
    {
      "type": "header",
      "content": "Carousels"
    },
    {
      "type": "checkbox",
      "id": "autoplay_inspiration",
      "label": "Autoplay Inspirational Image Sliders?",
      "default": true
    },
    {
      "type": "header",
      "content": "Paper Edges"
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "top_edge_colour",
      "label": "Top edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "bottom_edge_colour",
      "label": "Bottom edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "background_colour",
      "label": "Background colour",
      "info": "This can only be applied if a edge version is selected",
      "options": [
        {
          "value": "black-squeeze",
          "label": "Green"
        },
        {
          "value": "pippin",
          "label": "Pink"
        },
        {
          "value": "whisper",
          "label": "Purple"
        }
      ],
      "default": "whisper"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "name": "Carousel Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Minimum width: 400px and 3/2 aspect ratio."
        },
        {
          "type": "article",
          "id": "article",
          "label": "article"
        }
      ]
    },
    {
      "name": "Carousel Video",
      "type": "video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "article",
          "id": "article",
          "label": "article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Inspiration",
      "category": "Content"
    }
  ]
}
{% endschema %}
