{%- liquid
  assign template_name = 'section-media-slider'

  assign large = section.settings.large

  assign margin_bottom = section.settings.margin_bottom
%}


<div class="{{- template_name }}{% if large %} large{% endif %} u-space-below-{{- margin_bottom }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  {%- render 'paper-edge', _section: section -%}
  <div class="container">
    <div class="swiper-container" data-media-slider>
      <div
        class="swiper-wrapper"
        {% if large %}
          data-media-slider-large
        {% endif %}
      >
        {%- for block in section.blocks -%}
          {% liquid
            assign image = block.settings.image
          %}
          {%- if image != blank -%}
            <div class="swiper-slide" data-media-slide>
              <picture>
                <source media="(min-width:551px)" srcset="{{- image | image_url: width: 1000 -}}">
                <source media="(max-width: 550.8px)" srcset="{{- image | image_url: width: 600 -}}">
                <img src="{{- image | image_url: width: 600 -}}" alt="{{- image.alt -}}" height="500" width="500" loading="lazy">
              </picture>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <button class=" c-btn swiper-button prev" aria-label="Previous" data-media-slider-navigation-prev>
        {%- render 'icon', _name: 'icon-arrow-left' -%}
      </button>
      <button class="c-btn swiper-button next" aria-label="Next" data-media-slider-navigation-next>
        {%- render 'icon', _name: 'icon-arrow-right' -%}
      </button>
    </div>
  </div>
</div>

{% stylesheet %}
.section-media-slider {
  position: relative;
}
.section-media-slider .swiper-container {
  position: relative;
}
.section-media-slider .swiper-container .swiper-wrapper .swiper-slide img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}
.section-media-slider .swiper-container .next, .section-media-slider .swiper-container .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.section-media-slider .swiper-container .prev {
  left: 0.5rem;
}
.section-media-slider .swiper-container .next {
  right: 0.5rem;
}
.section-media-slider.large .container {
  position: relative;
  display: flex;
  justify-content: center;
}
.section-media-slider.large .container .swiper-container {
  max-width: 100%;
  position: static;
}
@media (min-width: 768px) {
  .section-media-slider.large .container .swiper-container {
    max-width: 720px;
  }
}
.section-media-slider.large .container .swiper-container .swiper-wrapper .swiper-slide {
  opacity: 0.3;
  transition: opacity var(--transition-duration) var(--transition-timing) 0s;
}
.section-media-slider.large .container .swiper-container .swiper-wrapper .swiper-slide-active {
  opacity: 1;
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";var e,i;e="section-media-slider",i={async onLoad(){this.loadSlider()},loadSlider(){window.theme.Swiper?this.initSlider():document.addEventListener("theme:inititialised",(()=>{this.initSlider()}),{once:!0})},initSlider(){this.container.querySelectorAll("[data-media-slider]").forEach((e=>{const i=e.querySelector("[data-media-slider-navigation-next]"),t=e.querySelector("[data-media-slider-navigation-prev]");e.querySelector("[data-media-slider-large]")?new window.theme.Swiper(e,{slidesPerView:1,spaceBetween:24,loop:!0,slideToClickedSlide:!0,navigation:{nextEl:i,prevEl:t}}):new window.theme.Swiper(e,{slidesPerView:1.3,spaceBetween:24,freeMode:!0,loop:!0,slideToClickedSlide:!0,navigation:{nextEl:i,prevEl:t},breakpoints:{[theme.breakpoints.sm]:{slidesPerView:3}}})}))}},Shopify.theme.sections&&Shopify.theme.sections.register?(0===Shopify.theme.sections.getInstances(e).length&&Shopify.theme.sections.register(e,i),Shopify.theme.sections.load(e)):function(e,i){var t={name:e,events:i};theme.sections.push(t)}(e,i)})();
{% endjavascript %}

{% schema %}
{
  "name": "Image Slider",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "large",
      "label": "Large view?",
      "default": false
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "top_edge_colour",
      "label": "Top edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "bottom_edge_colour",
      "label": "Bottom edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "background_colour",
      "label": "Background colour",
      "info": "This can only be applied if a edge version is selected",
      "options": [
        {
          "value": "black-squeeze",
          "label": "Green"
        },
        {
          "value": "pippin",
          "label": "Pink"
        },
        {
          "value": "whisper",
          "label": "Purple"
        }
      ],
      "default": "whisper"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "type": "media_slide",
      "name": "Media",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Minimum width: 800px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Slider",
      "category": "Content"
    }
  ]
}
{% endschema %}
