{% liquid
  assign template_name = 'section-page-404'
%}


<div class="{{ template_name }} u-space-below-lg">
  <div class="container">
    <h1 class="u-heading-xl">{{ 'template.404.title' | t }}</h1>
    <h2 class="u-heading-sm">{{ 'template.404.sub_heading' | t }}</h2>
    <p>{{- 'template.404.description_html' | t: url: shop.url -}}</p>
    <a href="/" class="c-btn main primary">{{ 'template.404.go_to_homepage' | t }}</a>
  </div>
</div>

{% stylesheet %}
.section-page-404 {
  position: relative;
  padding: 1rem 0 0;
  text-align: center;
}
@media (min-width: 1024px) {
  .section-page-404 {
    padding: 6rem 0 0;
  }
}
.section-page-404 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-page-404 .container a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
{% endstylesheet %}
