{%- liquid
  assign template_name = 'section-password'
  assign form_aria_label = 'template.password.form_password_label' | t
-%}


<div class="{{- template_name -}}" role="banner" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="wrapper">
      <header class="header">
        {%- if settings.theme_logo != blank -%}
          <div class="logo">
            <img src="{{ settings.theme_logo | image_url: width: 512 }}" alt="{{ shop.name | append: ' logo' }}">
          </div>
        {%- else -%}
          <h1 class="u-heading-md">{{ shop.name }}</h1>
        {%- endif -%}
      </header>
      <div class="content">
        <h2 class="u-heading-sm">{{ 'template.password.title' | t }}</h2>
        <p>{{ 'template.password.description' | t }}</p>
        {%- form 'storefront_password', class: 'c-form', id: 'password-form', aria-label: form_aria_label -%}
          {{- form.errors | default_errors | replace: 'class="errors"', 'class="c-alert c-alert--error" role="alert"' -}}

          <div class="form-field">
            <label class="form-label" for="password">{{ 'template.password.form_password_label' | t }}</label>
            <input
              type="password"
              name="password"
              id="password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
              autocomplete="current-password"
              class="form-input {% if show_errors == true and form.errors contains 'password' %} form-input--error{% endif %}"
              placeholder="{{ 'template.password.form_password_placeholder' | t }}"
            >
          </div>

          <button class="c-btn main primary" type="submit">
            {{- 'template.password.form_submit' | t -}}
          </button>
        {%- endform -%}
        <p><small>{{ 'template.password.admin_link_html' | t: text: 'Are you the store owner?', link_url: '/admin', link_text: 'Log in here' }}</small></p>
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
.section-password {
  padding: 4rem 0;
}
.section-password .wrapper {
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 768px) {
  .section-password .wrapper {
    grid-template-columns: 1fr 3fr 1fr;
  }
}
@media (min-width: 768px) {
  .section-password .wrapper > * {
    grid-column: 2;
  }
}
.section-password .header {
  display: flex;
  margin-bottom: 4rem;
}
.section-password .header .logo {
  height: auto;
  max-width: 8rem;
  object-fit: contain;
}
.section-password .content .c-form {
  margin-bottom: 4rem;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Password",
      "category": "Content"
    }
  ]
}
{% endschema %}
