{%- liquid
	assign template_name = 'section-product-content-points'

	assign heading = product.metafields.brand.content_points_header
	assign content_points = product.metafields.brand.content_points.value
%}

{% if content_points != blank %}
<div class="{{- template_name }} u-space-below-lg" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
		<div class="container">
			{% if heading != blank %}
				<h2 class="u-heading-sm centre">{{ heading }}</h2>
			{% endif %}
			<div class="swiper-container" data-pcp-slider>
				<div class="swiper-wrapper">
					{% for content_point in content_points %}
						{% liquid
							assign text = content_point.text
							assign image = content_point.image
							assign image_alt = image.alt | default: text
						%}
						<div class="swiper-slide">
							{{ image | image_url: width: 104 | image_tag: alt: image_alt, loading: 'lazy' -}}
							<h3 class="u-text-xl">{{ text }}</h3>
						</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination" data-pcp-pagination></div>
			</div>
		</div>
	</div>
{% endif %}

{% stylesheet %}
.section-product-content-points .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}
.section-product-content-points .swiper-slide img {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 100%;
  border: 1px solid var(--colour-emperor);
  object-fit: cover;
  display: block;
}
.section-product-content-points .swiper-slide h3 {
  margin-bottom: 0;
}
.section-product-content-points .swiper-pagination {
  margin-top: 2.5rem;
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";var e;e={name:"section-product-content-points",events:{async onLoad(){this.loadSlider()},loadSlider(){window.theme.Swiper?this.initSlider():document.addEventListener("theme:inititialised",(()=>{this.initSlider()}),{once:!0})},initSlider(){const e=document.querySelector("[data-pcp-slider]"),i=e.querySelector("[data-pcp-pagination]");e&&new window.theme.Swiper(e,{slidesPerView:1,loop:!1,speed:800,spaceBetween:16,simulateTouch:!0,autoplay:{delay:6e3},pagination:{el:i,clickable:!0},breakpoints:{[theme.breakpoints.md]:{slidesPerView:2},[theme.breakpoints.lg]:{slidesPerView:3,spaceBetween:32},[theme.breakpoints.xl]:{slidesPerView:4,spaceBetween:40}}})}}},theme.sections.push(e)})();
{% endjavascript %}

{% schema %}
{
	"name": "PDP Content Points",
	"tag": "section",
	"settings": [
		{
			"type": "header",
			"content": "Settings"
		}
	],
	"blocks": [],
	"presets": [
		{
			"name": "PDP Content Points",
			"category": "Content"
		}
	],
	"enabled_on": {
		"templates": ["product"]
	}
}
{% endschema %}
