{%- liquid
  assign template_name = 'section-quote-slider'

  assign slides = section.blocks | map: 'settings'

  assign margin_bottom = section.settings.margin_bottom
%}

<div class="{{- template_name }} u-space-below-{{- margin_bottom }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="wrapper">
      <div class="swiper-container" data-quote-slider>
        <div class="swiper-wrapper">
          {%- for block in slides -%}
            {% liquid
              assign quote = block.quote
              assign author_text = block.author_text
            %}
            <div class="swiper-slide" data-quote-slide>
              {%- render 'icon', _name: 'icon-close-quote' -%}
              {{ quote }}
              <span class="author-text">{{ author_text }}</span>
            </div>
          {%- endfor -%}
        </div>
        <div class="swiper-pagination" data-quote-slider-pagination></div>
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
.section-quote-slider {
  position: relative;
}
.section-quote-slider .container {
  display: flex;
  justify-content: center;
}
.section-quote-slider .container .wrapper {
  max-width: 100%;
}
@media (min-width: 768px) {
  .section-quote-slider .container .wrapper {
    max-width: 512px;
  }
}
.section-quote-slider .swiper-container .swiper-wrapper .swiper-slide {
  background-color: var(--colour-white);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-quote-slider .swiper-container .swiper-wrapper .swiper-slide svg {
  fill: var(--colour-whisper);
  height: 2.5rem;
  width: 2.5rem;
}
.section-quote-slider .swiper-container .swiper-wrapper .swiper-slide p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.section-quote-slider .swiper-container .swiper-wrapper .swiper-slide span.author-text {
  line-height: 1.5rem;
}
.section-quote-slider .swiper-container .swiper-pagination {
  margin-top: 2rem;
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";var e,i;e="section-quote-slider",i={async onLoad(){this.loadSlider()},loadSlider(){window.theme.Swiper?this.initSlider():document.addEventListener("theme:inititialised",(()=>{this.initSlider()}),{once:!0})},initSlider(){this.container.querySelectorAll("[data-quote-slider]").forEach((e=>{const i=e.querySelector("[data-quote-slider-pagination]");new window.theme.Swiper(e,{slidesPerView:1,loop:!1,slideToClickedSlide:!0,effect:"fade",mousewheel:!0,pagination:{el:i,clickable:!0}})}))}},Shopify.theme.sections&&Shopify.theme.sections.register?(0===Shopify.theme.sections.getInstances(e).length&&Shopify.theme.sections.register(e,i),Shopify.theme.sections.load(e)):function(e,i){var t={name:e,events:i};theme.sections.push(t)}(e,i)})();
{% endjavascript %}

{% schema %}
{
  "name": "Quote Slider",
  "tag": "section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [
    {
      "type": "quote_slide",
      "name": "Quote",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Quote"
        },
        {
          "type": "text",
          "id": "author_text",
          "label": "Author Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quote Slider",
      "category": "Content"
    }
  ]
}
{% endschema %}
