{%- liquid
  assign template_name = 'section-quote-and-image'

  assign image = section.settings.image
  assign quote = section.settings.quote
  assign author_text = section.settings.author_text

  assign margin_bottom = section.settings.margin_bottom
%}

<div class="{{- template_name }} u-space-below-{{- margin_bottom }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="wrapper">
      <div class="image">
        <picture>
          <source media="(min-width:551px)" srcset="{{- image | image_url: width: 600 -}}">
          <source media="(max-width: 550.8px)" srcset="{{- image | image_url: width: 400 -}}">
          <img src="{{- image | image_url: width: 400 -}}" alt="{{- image.alt | default: quote -}}" height="400" width="600">
        </picture>
      </div>
      <div class="quote">
        {%- render 'icon', _name: 'icon-close-quote' -%}
        <div class="quote-content">
          {% if quote != blank %}
            {{ quote }}
          {% endif %}
          {% if author_text != blank %}
            <span class="author-text">{{ author_text }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
.section-quote-and-image {
  position: relative;
  display: flex;
  justify-content: center;
}
.section-quote-and-image .wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .section-quote-and-image .wrapper {
    grid-template-columns: 1fr 50%;
    align-items: center;
    gap: 4rem;
  }
}
.section-quote-and-image .wrapper .image img {
  border-radius: 1rem;
  object-fit: cover;
  aspect-ratio: 4/3;
}
.section-quote-and-image .wrapper .quote {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.section-quote-and-image .wrapper .quote svg {
  fill: var(--colour-whisper);
  height: 2.5rem;
  width: 2.5rem;
}
@media (min-width: 768px) {
  .section-quote-and-image .wrapper .quote svg {
    position: absolute;
    top: -3rem;
    left: -1.25rem;
  }
}
.section-quote-and-image .wrapper .quote .quote-content {
  padding: 0.5rem 1.25rem 0;
}
@media (min-width: 768px) {
  .section-quote-and-image .wrapper .quote .quote-content {
    padding: 0;
  }
}
.section-quote-and-image .wrapper .quote .quote-content p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Quote and Image",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "author_text",
      "label": "Author Text"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "lg"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Quote and Image",
      "category": "Content"
    }
  ]
}
{% endschema %}
