{%- liquid
  assign template_name = 'section-slider'

  assign use_full_width = section.settings.use_full_width
  assign use_autoplay = section.settings.use_autoplay
  assign use_nav = section.settings.use_nav
  assign margin_bottom = section.settings.margin_bottom
%}

{% for block in section.blocks %}

{% endfor %}

{% capture slider %}
  <div class="swiper-container" data-autoplay="{{- use_autoplay -}}" data-ss-slider>
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% liquid
          assign image_desktop = block.settings.image_desktop
          assign image_tablet = block.settings.image_tablet | default: image_desktop
          assign image_mobile = block.settings.image_mobile | default: image_desktop
          assign image_alt = image_desktop.alt

          assign link_url = block.settings.link_url
          assign slider_delay_timer = block.settings.slider_delay_timer
        %}
      {% capture picture %}
          <picture>
            <source media="(min-width:1500px)" srcset="{{- image_desktop | image_url: width: 1920 -}}">
            <source media="(min-width:1100px)" srcset="{{- image_desktop | image_url: width: 1500 -}}">
            <source media="(min-width:800px)" srcset="{{- image_desktop | image_url: width: 1024 -}}">
            <source media="(min-width:551px)" srcset="{{- image_tablet | image_url: width: 800 -}}">
            <source media="(max-width: 550.8px)" srcset="{{- image_mobile | image_url: width: 600 -}}">
            <img src="{{- image_desktop | image_url: width: 480 -}}" alt="{{- image_alt -}}" height="440" width="390" loading="eager" class="image" />
          </picture>
        {% endcapture %}
        <div class="swiper-slide" data-swiper-autoplay="{{- slider_delay_timer -}}000">
          {% if link_url != blank %}
            <a href="{{- link_url -}}">
              {{ picture }}
            </a>
          {% else %}
            {{ picture }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-nav">
      {% if use_nav == true %}
        <button class=" c-btn swiper-button prev" aria-label="Previous" data-ss-prev>
          {%- render 'icon', _name: 'icon-arrow-left' -%}
        </button>
      {% endif %}
      {% if use_autoplay == true %}
        <button class="c-btn swiper-button play-pause is-playing" data-ss-slider-play-toggle>
          {%- render 'icon', _name: 'icon-play', _class: 'play' -%}
          {%- render 'icon', _name: 'icon-pause', _class: 'pause' -%}
        </button>
      {% endif %}
      {% if use_nav == true %}
        <button class="c-btn swiper-button next" aria-label="Next" data-ss-next>
         {%- render 'icon', _name: 'icon-arrow-right' -%}
        </button>
      {% endif %}
    </div>
  </div>
{% endcapture %}

<div class="{{- template_name }} u-space-below-{{- margin_bottom }}" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  {% if use_full_width == true %}
    {{ slider }}
  {% else %}
    <div class="container">{{ slider }}</div>
  {% endif %}
</div>

{% stylesheet %}
.section-slider picture, .section-slider picture img {
  width: 100%;
  display: block;
}
.section-slider .swiper-container {
  overflow: hidden;
  position: relative;
}
.section-slider .swiper-nav {
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  z-index: 5;
  padding: 0 1rem;
  pointer-events: none;
}
.section-slider .swiper-nav button {
  pointer-events: auto;
}
.section-slider .play-pause {
  position: relative;
}
.section-slider .play-pause svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity var(--transition-duration) var(--transition-timing) 0s;
  height: 0.875rem;
  width: 0.875rem;
}
.section-slider .play-pause svg.play {
  opacity: 1;
}
.section-slider .play-pause svg.pause {
  opacity: 0;
}
.section-slider .play-pause.is-playing svg.play {
  opacity: 0;
}
.section-slider .play-pause.is-playing svg.pause {
  opacity: 1;
}
{% endstylesheet %}

{% javascript %}
(()=>{"use strict";var e,t;e="section-slider",t={async onLoad(){this.loadSlider()},loadSlider(){window.theme.Swiper?this.initSlider():document.addEventListener("theme:inititialised",(()=>{this.initSlider()}),{once:!0})},initSlider(){const e=this.container.querySelector("[data-ss-slider]"),t=e.querySelector("[data-ss-slider-play-toggle]"),i=e.getAttribute("data-autoplay"),s=e.querySelector("[data-ss-prev]"),a=e.querySelector("[data-ss-next]");var n=new window.theme.Swiper(e,{slidesPerView:1,autoHeight:!0,loop:!0,speed:600,loadPrevNext:!0,navigation:{prevEl:s,nextEl:a}});"true"===i&&n.autoplay.start(),t.addEventListener("click",(function(){t.classList.contains("is-playing")?(n.autoplay.pause(),t.classList.remove("is-playing")):(n.autoplay.run(),t.classList.add("is-playing"))}))}},Shopify.theme.sections&&Shopify.theme.sections.register?(0===Shopify.theme.sections.getInstances(e).length&&Shopify.theme.sections.register(e,t),Shopify.theme.sections.load(e)):function(e,t){var i={name:e,events:t};theme.sections.push(i)}(e,t)})();
{% endjavascript %}

{% schema %}
{
  "name": "Slider",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "use_full_width",
      "label": "Use full width of browser.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "use_autoplay",
      "label": "Use autoplay.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_nav",
      "label": "Use navigation button.",
      "default": true
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Add margin below",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "sm"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image for desktop",
          "info": "Minimum width: 1920px for full width. Minimum width: 1400px for container width."
        },
        {
          "type": "image_picker",
          "id": "image_tablet",
          "label": "Image for tablet",
          "info": "Minimum width: 800px."
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image for mobile",
          "info": "Minimum width: 600px."
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "range",
          "id": "slider_delay_timer",
          "label": "Slider autoplay delay. 4 equals 4 seconds.",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider",
      "category": "Content"
    }
  ]
}
{% endschema %}
