{% liquid
  assign title = collection.title
  assign description = collection.description | prepend: '<p>' | append: '</p>'
  assign image = collection.image
  assign transparent_colors = 'rgba(0,0,0,0)|rgba(0, 0, 0, 0)|transparent' | split: '|'

  if collection.metafields.custom.hero_banner_image != blank
    assign image = collection.metafields.custom.hero_banner_image
  endif

  if collection.metafields.custom.primary_color != blank
    assign primary_color = collection.metafields.custom.primary_color
  endif

  if collection.metafields.custom.secondary_color != blank
    assign secondary_color = collection.metafields.custom.secondary_color
  endif

  if section.settings.title != blank
    assign title = section.settings.title
  endif

  if section.settings.description != blank
    assign description = section.settings.description
  endif

  if section.settings.image != blank
    assign image = section.settings.image
  endif

  if section.settings.primary_color != blank
    unless transparent_colors contains section.settings.primary_color
      assign primary_color = section.settings.primary_color
    endunless
  endif

  if section.settings.secondary_color != blank
    unless transparent_colors contains section.settings.secondary_color
      assign secondary_color = section.settings.secondary_color
    endunless
  endif

  assign word_count = description | strip_html | split: ' ' | size
%}

{% style %}
  .collection-hero-banner--{{ section.id }} .collection-hero-banner__background-shape {
    {% if primary_color != blank %}
      color: {{ primary_color }};
    {% endif %}
    {% if secondary_color != blank %}
      background-color: {{ secondary_color }};
    {% endif %}
  }
{% endstyle %}

<div class="collection-hero-banner collection-hero-banner--{{ section.id }}">
  <div class="container">
    <div class="collection-hero-banner__grid">
      <div class="collection-hero-banner__grid-item collection-hero-banner__content-container">
        <div class="collection-hero-banner__content">
          {% if title != blank %}
            <h1 class="collection-hero-banner__title">{{ title }}</h1>
          {% endif %}

          {% if description != blank %}
            {% if word_count > 32 %}
              <read-more class="collection-hero-banner__mobile-description read-more read-more--clipped">
                <div class="collection-hero-banner__description read-more__excerpt">
                  {{ description }}
                </div>

                <button type="button" class="collection-hero-banner__read-more read-more__toggle js-read-more-toggle">
                  <span class="read-more__toggle-label read-more__toggle-label--more">{{ 'accessibility.read_more' | t }}</span>
                  <span class="read-more__toggle-label read-more__toggle-label--less">{{ 'accessibility.read_less' | t }}</span>
                </button>
              </read-more>

            {% else %}
              <div class="collection-hero-banner__description">
                {{ description }}
              </div>
            {% endif %}
          {% endif %}

          <scroll-to class="collection-hero-banner__scroll-to-content" data-target="#collectionSection">
            {{ 'template.collection-section.browse_all' | t }}
            {% render 'stmt-icon-arrow-down', class: 'collection-hero-banner__scroll-to-content-icon' %}
          </scroll-to>
        </div>

        <div class="collection-hero-banner__background-shape collection-hero-banner__background-shape--mobile">
          {% render 'stmt-icon-collection-background-shape-alt', class: 'collection-hero-banner__background-shape-icon' %}
        </div>
      </div>

      {% if image != blank %}
        <div class="collection-hero-banner__grid-item">
          <div class="collection-hero-banner__image-container">
            {{ image | image_url: width: 720, height: 480 | image_tag: class: 'collection-hero-banner__image' }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="collection-hero-banner__background-shape collection-hero-banner__background-shape--desktop">
    {% render 'stmt-icon-collection-background-shape', class: 'collection-hero-banner__background-shape-icon' %}
  </div>
</div>


{% stylesheet %}
.collection-hero-banner {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}

.collection-hero-banner__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 11rem;
  position: relative;
  z-index: 1;
}

.collection-hero-banner__title {
  font-size: 3.125rem;
  margin: 0 0 2.4rem 0;
  font-weight: 700;
}

.collection-hero-banner__mobile-description {
  display: block;
}

.collection-hero-banner .collection-hero-banner__description,
.collection-hero-banner .collection-hero-banner__description p,
.collection-hero-banner .collection-hero-banner__description.richtext-area {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

.collection-hero-banner__description a {
  color: inherit;
}

.collection-hero-banner__description > * {
  margin-bottom: 1rem;
}

.collection-hero-banner__description > *:last-child {
  margin-bottom: 0;
}

.collection-hero-banner__read-more {
  font-size: 1.25rem;
  -webkit-appearance: none;
          appearance: none;
  padding: 0;
  border: 0;
  text-decoration: underline;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2rem;
}

.collection-hero-banner__scroll-to-content {
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
}

.collection-hero-banner__scroll-to-content-icon {
  width: 1rem;
  height: 1rem;
  animation: upDown 2s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 1023.98px) {
  .collection-hero-banner__image-container {
    display: none;
  }
}
.collection-hero-banner__image-container {
  aspect-ratio: 1.5;
  overflow: hidden;
  border-radius: 1.75rem;
  max-width: 30rem;
}

.collection-hero-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-hero-banner__background-shape {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  min-width: 45rem;
  border-radius: 999rem 0 0 999rem;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
  color: var(--colour-pink);
  background-color: var(--colour-pink-light);
}

.collection-hero-banner__background-shape--mobile {
  display: none;
}

.collection-hero-banner__background-shape-icon {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1699px) {
  .collection-hero-banner__grid {
    column-gap: 6rem;
  }
}
@media screen and (max-width: 1399px) {
  .collection-hero-banner__grid {
    column-gap: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .collection-hero-banner {
    padding: 3rem 0;
  }

  .collection-hero-banner__grid {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1.5rem;
    column-gap: 0;
  }

  .collection-hero-banner__image-container {
    width: 100%;
    max-width: none;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .collection-hero-banner {
    padding: 1.5rem 0 0 0;
  }

  .collection-hero-banner__content-container {
    padding-bottom: 3rem;
    position: relative;
  }

  .collection-hero-banner__content {
    position: relative;
    z-index: 1;
  }

  .collection-hero-banner__desktop-description {
    display: none;
  }

  .collection-hero-banner__mobile-description {
    display: block;
  }

  .collection-hero-banner__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .collection-hero-banner .collection-hero-banner__description,
.collection-hero-banner .collection-hero-banner__description p,
.collection-hero-banner .collection-hero-banner__description.richtext-area,
.collection-hero-banner__scroll-to-content,
.collection-hero-banner__read-more {
    font-size: 1.25rem;
  }

  .collection-hero-banner .collection-hero-banner__description,
.collection-hero-banner .collection-hero-banner__description p,
.collection-hero-banner .collection-hero-banner__description.richtext-area,
.collection-hero-banner__read-more {
    margin-bottom: 1.5rem;
  }

  .collection-hero-banner__background-shape {
    border-radius: 0;
    top: -5rem;
    left: calc(var(--gutter) * -1);
    right: calc(var(--gutter) * -1);
    min-width: 0;
    width: auto;
  }

  .collection-hero-banner__background-shape--desktop {
    display: none;
  }

  .collection-hero-banner__background-shape--mobile {
    display: block;
  }

  .collection-hero-banner__background-shape-icon {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
  }
}
{% endstylesheet %}

{% schema %}
{
  "name": "Collection Hero Banner",
  "templates": ["collection"],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "info": "Will use collection title if not set"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "info": "Will use collection description if not set"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Will use collection featured image or hero banner image from metafields if not set"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Colour",
      "info": "Will use primary colour from metafields if not set"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary Colour",
      "info": "Will use secondary colour from metafields if not set"
    }
  ],
  "presets": [
    {
      "name": "Collection Hero Banner"
    }
  ]
}
{% endschema %}
